In [1]:
import pandas as pd
import pandas as pd
import numpy as np
import requests as requests
import json
import urllib
from unidecode import unidecode
import pandas as pd
import requests as requests
import json
from sklearn.preprocessing import StandardScaler
import time
import statistics
from sklearn.preprocessing import OneHotEncoder
import zipfile
import os
import gdown
from joblib import load
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
import numpy as np
import io
import subprocess
import shlex

# EFAT MODEL PREDICTIONS

The purpose of this notebook is to donwload and prepare the real-time information from AEMET, REE & MITECO that we are using for predicting the renewable energetic generation in the following days. We are using some of the functions we already prepared in Model&Conclusions notebook for downloading data from the Google Drive's sharefolder and transforming some of the key variables.

In [2]:
#We are using for this notebook most of the urls we were using in the 'Model & Conclusion'

url_generation = 'https://drive.google.com/file/d/1CKWK6ikb_qLquuIpnUSTYtqmwRxX4N9J/view?usp=drive_lin'
url_generation_by_ccaa =  'https://drive.google.com/file/d/1Zhaf_jFYweVZ9iixT-Q5eB6_4RzXOewZ/view?usp=drive_link'
url_powerinstalled_by_ccaa = 'https://drive.google.com/file/d/1gAbVa52H5gXE2mSmAkKjnAyVCnmI88vW/view?usp=drive_link'
url_demand = 'https://drive.google.com/file/d/1f0VtPLUQtxXNr7M1YDWZtsiyecBy238P/view?usp=drive_link'
url_demand_by_ccaa = 'https://drive.google.com/file/d/1YGsqSUgKPtmJMe1Xch9A_C3rAMy0udSK/view?usp=drive_link'
url_weather_meta = 'https://drive.google.com/file/d/1l3bYxhw4XeGlEfsu1F4ptCqDWYl2a64x/view?usp=drive_link'
url_weather_data = 'https://drive.google.com/file/d/1FJ2dPeL-qrTYLALtEI_m4q3cP2M0oBYK/view?usp=drive_link'
url_embalses = 'https://docs.google.com/spreadsheets/d/1rcwa4zVO7rCHH6YjcH37rd5YA5wPUhFw/edit?usp=drive_link&ouid=104422625489291627517&rtpof=true&sd=true'
url_presas = 'https://drive.google.com/file/d/1Iyklyh-5QscQBEycehovyTqadiTZSZrI/view?usp=drive_link'
url_provincias = 'https://drive.google.com/file/d/1892NArUsU5bLbfsqLY1SoePvj5HpA9Tw/view?usp=drive_link'
url_map = 'https://drive.google.com/file/d/1G0YE63B11fjXXNvByeNDO99o0yvdY1uw/view?usp=drive_link'
url_municipios = 'https://drive.google.com/file/d/1cNopbkCfEljsabdkDtWpdzNRaMCf48qH/view?usp=drive_link'
url_estado_cielo = 'https://drive.google.com/file/d/1tv7PGRC6tF_R5zoeAfnkzcDb3NKYnXFd/view?usp=drive_link'

In [3]:
pd.set_option('display.float_format', '{:.3f}'.format) #In order to have the same format in the whole notebook

In [4]:
def drive_read_file(url):
    for retry in range(3):
        try:
            # Generate the Google Drive download URL
            download_url = 'https://drive.google.com/uc?id=' + url.split('/')[-2]
            
            # Download the file using gdown
            file_path = gdown.download(download_url, quiet=False)
            
            if file_path is not None:
                # Read the file directly into a pandas DataFrame
                df = pd.read_csv(file_path)
                
                # Delete the downloaded file
                os.remove(file_path)
                
                return df
            else:
                print("Download failed. Trying again...")
                time.sleep(5.0)  # Wait for another retry
        except Exception as e:
            print(f"Error {e}. Trying again...")
            time.sleep(5.0)  # Wait for another retry
    print("Unable to download. Please try again later.")
    return None

In [5]:
#Specific functions are needed for these cases as the files are from a different source and come in a different format. xslx for 'embalses file' and csv with different separator for 'presas' masterdata:
def drive_read_xlsx_file(url):
    for retry in range(3):
        try:
            # Generate the Google Drive download URL
            download_url = 'https://drive.google.com/uc?id=' + url.split('/')[-2]
            
            # Download the file using gdown
            file_path = gdown.download(download_url, quiet=False)
            
            if file_path is not None:
                # Read the file directly into a pandas DataFrame
                df = pd.read_excel(file_path)
                
                # Delete the downloaded file
                os.remove(file_path)
                
                return df
            else:
                print("Download failed. Trying again...")
                time.sleep(5.0)  # Wait for another retry
        except Exception as e:
            print(f"Error {e}. Trying again...")
            time.sleep(5.0)  # Wait for another retry
    
    print("Unable to download and read the file. Please try again later.")
    return None

def drive_read_latin_encoding_file(url): #In order to download the files with the urls provided at the beginning of the notebook and that are uin xslsx format:

    for retry in range(3):
        try:

            # Generate the Google Drive download URL
            download_url = 'https://drive.google.com/uc?id=' + url.split('/')[-2]
            
            # Download the file using gdown
            file_path = gdown.download(download_url, quiet=False)

            if file_path is not None:
            
                # Read the file directly into a pandas DataFrame
                df = pd.read_csv(file_path, encoding = 'latin-1', sep = ';')
                
                # Delete the downloaded file
                os.remove(file_path)
                return df
            else:
                print("Download failed. Trying again...")
                time.sleep(5.0)  # Wait for another retry

        except Exception as e:
            print(f"Error {e}. Trying again...")
            time.sleep(5.0)  # Wait for another retry

    print("Unable to download and read the file. Please try again later.")
    return None

In [6]:
def cod_provincias(cod_provincias_df):

    """
    In order to transform codprovincias dataframe so it can be crossmatched with other files, we haver several things to adapt in columns format:
    """

    cod_provincias_df.rename(columns = {'Provincia': 'provincia'},inplace= True)
    cod_provincias_df['provincia'] = cod_provincias_df['provincia'].apply(unidecode).str.upper()
    cod_provincias_df['Comunidad Autónoma'] = cod_provincias_df['Comunidad Autónoma'].apply(unidecode).str.upper()
    cod_provincias_df = cod_provincias_df.rename(columns = {'Comunidad Autónoma':'comunidad_autonoma'})
    return cod_provincias_df

In [7]:
cod_provincias_file = drive_read_latin_encoding_file(url_provincias)

Downloading...
From: https://drive.google.com/uc?id=1892NArUsU5bLbfsqLY1SoePvj5HpA9Tw
To: /home/dsc/data/TFM_EFAT/TFM_EFAT/CodProvincias.csv
100%|██████████| 1.52k/1.52k [00:00<00:00, 1.85MB/s]

In [8]:
codprovincias = cod_provincias(cod_provincias_file)

## 3. Data to predict

Until now we have been working with weather, energetic production, demand etc. historical data. The models to predict each techonology and the demand have been already prepared and trained. It is time now to predict the renewable energetic production based on weather forecast for the upcoming days, which is the main purpose of the project. In order to do this, first of all we have to download the forecast information and process it to have similar dataframes to what we already have for train data. The process is going to be similar to the preprocess we have done before, but the data is going to be directly downloaded from AEMET and MITECO.

Some of the functions included in this part were already developed on 'EFAT_newData' notebook. \
AEMET does not allow to download from their API directly an estimation similar to what we have seen. The data is provided by 'municipio' and it can be downloaded only one by one. To download all the information for all 'municipios' in Spain can be very expensive in terms of time and computational consumptions. Therefopre we are downloading only a representative portion of 'municipios' of each province and making the mean aftwerwards.
Also, the information is not provided as easily or as clear as we had for the historical data and it needs to be processed, firstly when downloading it from AEMET and afterwards over the dataframe we have used for collecting the data.

Firstly, we are downloading from AEMET two dataframes: the 'municipios' masterdata and the weather forecast for the next 7 days for several 'muncipios'.

### 3.1 AEMET Predictions

In [9]:
def aemet_municipios(): # -> in order to get masterdata from AEMET API

    #AEMET API does not allow to extract predictions for all Municipios all the same time, therefore we firstly have to download the masterdata:

    url = f"https://opendata.aemet.es/opendata/api/maestro/municipios"

    #We need an API key that can be obtained from AEMET easily
    
    query = {"api_key":"eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJqYXZpZXIuZXNjYWxvbmlsbGFAaG90bWFpbC5jb20iLCJqdGkiOiJlNzgyMjg0Yy05YjI0LTQ5ZDktOWMwMS1kYjRlZjQwNjkxNDIiLCJpc3MiOiJBRU1FVCIsImlhdCI6MTY4MTE0MTIyNCwidXNlcklkIjoiZTc4MjI4NGMtOWIyNC00OWQ5LTljMDEtZGI0ZWY0MDY5MTQyIiwicm9sZSI6IiJ9.3flzKWh31FkeRBFex1xc4nIwEaQE1QPXoCpeicIluQU"}

    #We create an empty dataframe with the columns that will be appended

    aemet_municipios_total = pd.DataFrame(columns = ['latitud', 'id_old', 'url', 'latitud_dec', 'altitud', 'capital',
        'num_hab', 'zona_comarcal', 'destacada', 'nombre', 'longitud_dec', 'id',
        'longitud'])
    
    for retry in range(3):
        try:
    
            response = requests.request("GET", url,  params = query)

            if response.status_code == 200:

                aemet_municipios = response.json()

                #The response is a list of dicts, in which each dict is one municipio:

                for item in aemet_municipios:

                    municipio = pd.DataFrame(item, index= [0])
                    aemet_municipios_total = pd.concat([aemet_municipios_total, municipio])
                aemet_municipios_total.reset_index()

                return aemet_municipios_total
        
            else:
                print("Server error. Trying again...")
                time.sleep(5.0)  # Wait for another retry
        except Exception as e:
            print(f"Error {e}. Trying again...")
            time.sleep(5.0)  # Wait for another retry
    return None

In [10]:
#We did already save it in the drive folder, so this info we can get it from there
#md_municipios = drive_read_file(url_municipios)

In [11]:
municipios_md = aemet_municipios()

In [12]:
municipios_md.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8122 entries, 0 to 0
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   latitud        8122 non-null   object
 1   id_old         8114 non-null   object
 2   url            8122 non-null   object
 3   latitud_dec    8122 non-null   object
 4   altitud        8122 non-null   object
 5   capital        8122 non-null   object
 6   num_hab        8122 non-null   object
 7   zona_comarcal  8122 non-null   object
 8   destacada      8122 non-null   object
 9   nombre         8122 non-null   object
 10  longitud_dec   8122 non-null   object
 11  id             8122 non-null   object
 12  longitud       8122 non-null   object
dtypes: object(13)
memory usage: 888.3+ KB

In [13]:
municipios_md.head()

,latitud,id_old,url,latitud_dec,altitud,capital,num_hab,zona_comarcal,destacada,nombre,longitud_dec,id,longitud
0,"40º32'54.450744""",44004,ababuj-id44001,40.54845854,1372,Ababuj,65,624401,0,Ababuj,-0.80780117,id44001,"-0º48'28.084212"""
0,"40º54'58.824504""",40004,abades-id40001,40.91634014,971,Abades,873,674001,0,Abades,-4.26787389,id40001,"-4º16'4.346004"""
0,"43º8'51.525564""",48010,abadino-abadino-zelaieta-id48001,43.14764599,144,Abadiño-Zelaieta,7504,754802,0,Abadiño,-2.60687319,id48001,"-2º36'24.743484"""
0,"40º15'34.315272""",10004,abadia-id10001,40.25953202,451,Abadía,324,701001,0,Abadía,-5.97785806,id10001,"-5º58'40.289016"""
0,"43º21'46.874736""",27010,abadin-abadin-o-provecende-id27001,43.36302076,515,Abadín o Provecende,2646,712702,0,Abadín,-7.47214495,id27001,"-7º28'19.72182"""

As AEMET does not allow tro extract weather forecast for the whole CCAA, for example, and it only allow to do it by municipality, is necessary to get only a few municipalities as a sample data. Otherwise the proccess could be so demanding.
Besides that, in order to have at least a sample of each province if the download from AEMET fails due to a server error, the data has to be sorted specifically with that purpose. That is what we are doing with the following function.

In [14]:
def sort_municipios(municipios_df):
    
    """Select some samples (3) for every province based on nº inhabitants"""

    #Firstly, we want to extract 'province id' from the id for each 'municipio':
    
    municipios_df['prov_id'] = municipios_df['id'].str[2:4]

    #Transform nª inhabitants for sorting
    municipios_df['num_hab'] = pd.to_numeric(municipios_df['num_hab'])

    # Sort the entire dataframe by 'prov_id' and 'num_hab'
    municipios_ranked = municipios_df.sort_values(by=['prov_id', 'num_hab'], ascending=[True, False])

    # Group by 'prov_id' and pick top 5 for each group
    top_municipios = municipios_ranked.groupby('prov_id').head(3)

    top_municipios = top_municipios.sort_values(by='num_hab', ascending=False)

    # Reset index for the final dataframe
    top_municipios = top_municipios.reset_index(drop=True)

    top1 = pd.DataFrame(columns=top_municipios.columns)
    top2 = pd.DataFrame(columns=top_municipios.columns)
    top3 = pd.DataFrame(columns=top_municipios.columns)

    for index, row in top_municipios.iterrows():
        if row['prov_id'] not in top1['prov_id'].unique():
            top1 = pd.concat([top1, row.to_frame().T])
        else:
            if row['prov_id'] not in top2['prov_id'].unique():
                top2 = pd.concat([top2, row.to_frame().T])
            else:
                top3 = pd.concat([top3, row.to_frame().T])
    
    top1 = pd.DataFrame(top1)
    top2 = pd.DataFrame(top2)
    top3 = pd.DataFrame(top3)
    
    top_municipios_df = pd.concat([top1, top2, top3])

    # Reset index for the final dataframe
    top_municipios_df = top_municipios_df.reset_index(drop=True)

    return top_municipios_df

In [15]:
df_municipios = sort_municipios(municipios_md)

In [16]:
df_municipios.head(50)

,latitud,id_old,url,latitud_dec,altitud,capital,num_hab,zona_comarcal,destacada,nombre,longitud_dec,id,longitud,prov_id
0,"40º24'30.282876""",28001,madrid-id28079,40.40841191,657,Madrid,3165235,722802,1,Madrid,-3.68760088,id28079,"-3º41'15.363168""",28
1,"41º23'3.287904""",08001,barcelona-id08019,41.38424664,13,Barcelona,1602386,690804,1,Barcelona,2.17634927,id08019,"2º10'34.857372""",08
2,"39º28'31.239876""",46001,valencia-id46250,39.47534441,16,Valencia,786424,774602,1,Valencia,-0.37565717,id46250,"-0º22'32.365812""",46
3,"37º23'10.338432""",41001,sevilla-id41091,37.38620512,11,Sevilla,696676,614102,1,Sevilla,-5.99251368,id41091,"-5º59'33.049248""",41
4,"41º39'23.24358""",50001,zaragoza-id50297,41.65645655,208,Zaragoza,666058,625003,1,Zaragoza,-0.87928652,id50297,"-0º52'45.431472""",50
5,"36º43'13.233612""",29001,malaga-id29067,36.72034267,8,Málaga,566913,612903,1,Málaga,-4.41997511,id29067,"-4º25'11.910396""",29
6,"37º59'3.708996""",30001,murcia-id30030,37.98436361,42,Murcia,439712,733003,1,Murcia,-1.12854080,id30030,"-1º7'42.74688""",30
7,"39º34'16.129164""",07001,palma-id07040,39.57114699,24,Palma de Mallorca,399093,645404,1,Palma de Mallorca,2.65181698,id07040,"2º39'6.541128""",07
8,"28º5'57.76278""",35001,palmas-de-gran-canaria-las-id35016,28.09937855,6,"Palmas de Gran Canaria, Las",382283,659001,1,"Palmas de Gran Canaria, Las",-15.41336841,id35016,"-15º24'48.126276""",35
9,"43º15'25.990452""",48001,bilbao-id48020,43.25721957,6,Bilbao,346574,754802,1,Bilbao,-2.92390606,id48020,"-2º55'26.061816""",48
10,"38º20'43.75338""",03001,alacant-alicante-id03014,38.34548705,5,Alicante/Alacant,332067,770303,1,Alicante/Alacant,-0.48318320,id03014,"-0º28'59.45952""",03
11,"37º52'46.3521""",14001,cordoba-id14021,37.87954225,106,Córdoba,328041,611402,1,Córdoba,-4.78032455,id14021,"-4º46'49.16838""",14
12,"41º39'8.379972""",47001,valladolid-id47186,41.65232777,690,Valladolid,306830,674701,1,Valladolid,-4.72334924,id47186,"-4º43'24.057264""",47
13,"42º14'22.112988""",36560,vigo-id36057,42.23947583,19,Vigo,294997,713601,1,Vigo,-8.72637733,id36057,"-8º43'34.958388""",36
14,"43º32'21.127992""",33240,gijon-gijon-xixon-id33024,43.53920222,7,Gijón/Xixón,275735,633302,1,Gijón,-5.65949323,id33024,"-5º39'34.175628""",33
15,"43º22'12.455148""",15001,coruna-a-id15030,43.37012643,21,"Coruña, A",244810,711501,1,"Coruña, A",-8.39114853,id15030,"-8º23'28.134708""",15
16,"42º51'2.116404""",01001,vitoria-gasteiz-id01059,42.85058789,539,Vitoria-Gasteiz,242082,750102,1,Vitoria-Gasteiz,-2.67275685,id01059,"-2º40'21.92466""",01
17,"37º10'35.109552""",18001,granada-id18087,37.17641932,684,Granada,237540,611801,1,Granada,-3.60001883,id18087,"-3º36'0.067788""",18
18,"36º42'7.658856""",11190,jerez-de-la-frontera-id11020,36.70212746,57,Jerez de la Frontera,212226,611102,1,Jerez de la Frontera,-6.12875340,id11020,"-6º7'43.51224""",11
19,"28º27'46.274688""",38001,santa-cruz-de-tenerife-id38038,28.46285408,1,Santa Cruz de Tenerife,205279,659602,1,Santa Cruz de Tenerife,-16.24720629,id38038,"-16º14'49.942644""",38
20,"42º48'50.7672""",31001,pamplona-iruna-id31201,42.81410200,450,Pamplona/Iruña,196166,743102,1,Pamplona/Iruña,-1.64515280,id31201,"-1º38'42.55008""",31
21,"36º50'20.125032""",04001,almeria-id04013,36.83892362,16,Almería,193351,610403,1,Almería,-2.46413188,id04013,"-2º27'50.874768""",04
22,"43º19'1.817688""",20001,donostia-san-sebastian-id20069,43.31717158,7,Donostia/San Sebastián,186126,752001,1,Donostia/San Sebastián,-1.98191785,id20069,"-1º58'54.90426""",20
23,"42º20'28.068144""",09001,burgos-id09059,42.34113004,859,Burgos,177776,670904,1,Burgos,-3.70419805,id09059,"-3º42'15.11298""",09
24,"43º27'46.72386""",39001,santander-id39075,43.46297885,8,Santander,175736,663901,1,Santander,-3.80474784,id39075,"-3º48'17.092224""",39
25,"39º59'11.069124""",12001,castellon-de-la-plana-castello-de-la-plana-id1...,39.98640809,27,Castelló de la Plana,173841,771204,1,Castelló de la Plana,-0.03688142,id12040,"-0º2'12.773112""",12
26,"38º59'45.169908""",02001,albacete-id02003,38.99588053,681,Albacete,172487,680201,1,Albacete,-1.85574745,id02003,"-1º51'20.69082""",02
27,"42º27'59.21802""",26001,logrono-id26089,42.46644945,384,Logroño,151962,762601,1,Logroño,-2.44565538,id26089,"-2º26'44.359368""",26
28,"38º52'43.476204""",06001,badajoz-id06015,38.87874339,182,Badajoz,150517,700601,1,Badajoz,-6.97099704,id06015,"-6º58'15.589344""",06
29,"40º58'2.525592""",37001,salamanca-id37274,40.96736822,798,Salamanca,148042,673701,1,Salamanca,-5.66538084,id37274,"-5º39'55.371024""",37
30,"37º15'36.148068""",21001,huelva-id21041,37.26004113,24,Huelva,147212,612103,1,Huelva,-6.95040588,id21041,"-6º57'1.461168""",21
31,"41º36'54.98478""",25001,lleida-id25120,41.61527355,167,Lleida,139176,692503,1,Lleida,0.62061934,id25120,"0º37'14.229624""",25
32,"41º7'8.770332""",43001,tarragona-id43148,41.11910287,69,Tarragona,132199,694303,1,Tarragona,1.25842190,id43148,"1º15'30.31884""",43
33,"42º35'56.835492""",24001,leon-id24089,42.59912097,837,León,129551,672403,1,León,-5.56707631,id24089,"-5º34'1.474716""",24
34,"37º45'54.68868""",23001,jaen-id23050,37.76519130,570,Jaén,115837,612303,1,Jaén,-3.79035940,id23050,"-3º47'25.29384""",23
35,"42º20'11.577084""",32001,ourense-id32054,42.33654919,138,Ourense,106905,713202,1,Ourense,-7.86368375,id32054,"-7º51'49.2615""",32
36,"43º0'32.86152""",27001,lugo-id27028,43.00912820,452,Lugo,98560,712702,1,Lugo,-7.55817392,id27028,"-7º33'29.426112""",27
37,"41º58'54.6987""",17001,girona-id17079,41.98186075,69,Girona,97227,691702,1,Girona,2.82411899,id17079,"2º49'26.828364""",17
38,"39º28'23.403432""",10001,caceres-id10037,39.47316762,457,Cáceres,95855,701003,1,Cáceres,-6.37121092,id10037,"-6º22'16.359312""",10
39,"39º57'36.602532""",45660,talavera-de-la-reina-id45165,39.96016737,367,Talavera de la Reina,86779,684502,1,Talavera de la Reina,-4.83370199,id45165,"-4º50'1.327164""",45
40,"35º53'17.167524""",51001,ceuta-id51001,35.88810209,27,Ceuta,84963,785101,1,Ceuta,-5.30675127,id51001,"-5º18'24.304572""",51
41,"35º17'26.599992""",52001,melilla-id52001,35.29072222,30,Melilla,84509,795201,1,Melilla,-2.94721111,id52001,"-2º56'49.959996""",52
42,"40º38'3.679728""",19001,guadalajara-id19130,40.63435548,685,Guadalajara,83720,681903,1,Guadalajara,-3.16210273,id19130,"-3º9'43.569828""",19
43,"42º0'28.21428""",34001,palencia-id34120,42.00783730,734,Palencia,80178,673402,1,Palencia,-4.53460106,id34120,"-4º32'4.563816""",34
44,"38º59'11.464116""",13001,ciudad-real-id13034,38.98651781,625,Ciudad Real,74960,681303,1,Ciudad Real,-3.93131981,id13034,"-3º55'52.751316""",13
45,"41º29'56.902416""",49001,zamora-id49275,41.49913956,649,Zamora,64423,674902,1,Zamora,-5.75494831,id49275,"-5º45'17.813916""",49
46,"40º39'21.130488""",05001,avila-id05019,40.65586958,1131,Ávila,58933,670502,1,Ávila,-4.69771277,id05019,"-4º41'51.765972""",05
47,"40º4'35.535432""",16001,cuenca-id16078,40.07653762,997,Cuenca,55738,681602,1,Cuenca,-2.13152306,id16078,"-2º7'53.483016""",16
48,"40º56'59.53308""",40001,segovia-id40194,40.94987030,1002,Segovia,53260,674002,1,Segovia,-4.12524116,id40194,"-4º7'30.868176""",40
49,"42º8'26.258604""",22001,huesca-id22125,42.14062739,483,Huesca,52555,622202,1,Huesca,-0.40842276,id22125,"-0º24'30.321936""",22

In [17]:
df_municipios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152 entries, 0 to 151
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   latitud        152 non-null    object
 1   id_old         152 non-null    object
 2   url            152 non-null    object
 3   latitud_dec    152 non-null    object
 4   altitud        152 non-null    object
 5   capital        152 non-null    object
 6   num_hab        152 non-null    object
 7   zona_comarcal  152 non-null    object
 8   destacada      152 non-null    object
 9   nombre         152 non-null    object
 10  longitud_dec   152 non-null    object
 11  id             152 non-null    object
 12  longitud       152 non-null    object
 13  prov_id        152 non-null    object
dtypes: object(14)
memory usage: 16.8+ KB

We have all the municipalities we wanted (3 per province) and correctly ordered. Let's extract from AEMET the data related to weather forecasting for each municipality.
The function basically reads the requests.get response for each municipality and consolidate it into a common dataframe. Due to the constant downloads from AEMET it was necessary to add a second  API Key as a 'backup' if the first one fails.
Also 'Time' module helps to slow the speed in order to give the servers a break. The minimum level required is to download at least one municipality for each CCAA, otherwise the models will fail.
HOwever, the idea is to have minimun one per province to make the averages more consistant.

In [18]:
def aemet_municipios_predictions(municipios): # -> in order to get predictions for next seven days from AEMET API

    #We are going to extract the predictions of a sample of municipios for each province in Spain

    municipios_id = list(municipios['id'])

    #Now we create a loop in order to access to all the required information for each municipio:

    for retry in range(3):

        #We create a dataframe that will be appended based on the information provided by AEMET

        df_prediction = pd.DataFrame(columns= ['id_municipio', 'nombre', 'provincia', 'fecha', 'tmax', 'tmin', 'Icon_code', 'viento', 'racha'])

        try:

            for municipio in municipios_id:
                
                #In order to avoid blocking AEMET servers:

                time.sleep(0.5)

                #We only need municipio ID:

                municipio = municipio[2:]

                url = f"https://opendata.aemet.es/opendata/api/prediccion/especifica/municipio/diaria/{municipio}"

                #We need an API key that can be obtained from AEMET easily

                query = {"api_key":"eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJqYXZpZXIuZXNjYWxvbmlsbGFAaG90bWFpbC5jb20iLCJqdGkiOiJlNzgyMjg0Yy05YjI0LTQ5ZDktOWMwMS1kYjRlZjQwNjkxNDIiLCJpc3MiOiJBRU1FVCIsImlhdCI6MTY4MTE0MTIyNCwidXNlcklkIjoiZTc4MjI4NGMtOWIyNC00OWQ5LTljMDEtZGI0ZWY0MDY5MTQyIiwicm9sZSI6IiJ9.3flzKWh31FkeRBFex1xc4nIwEaQE1QPXoCpeicIluQU"}

                response = requests.request("GET", url,  params = query, timeout = 500)

                
                if response.status_code != 200:

                    #We have another API key if the main one fails. We repeat the same procedure:

                    time.sleep(0.5)

                    query = {"api_key": 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJsYWZ1bGFmdWVudGVAZ21haWwuY29tIiwianRpIjoiNGZlY2Y3MzMtYTY3Yy00M2ZmLTgxODMtZTM1N2Q0ODc0YzM5IiwiaXNzIjoiQUVNRVQiLCJpYXQiOjE2ODg1MTM0MjksInVzZXJJZCI6IjRmZWNmNzMzLWE2N2MtNDNmZi04MTgzLWUzNTdkNDg3NGMzOSIsInJvbGUiOiIifQ.WCoq7p6RyV6thyXkkzUmgg27jt2AsJBK3uVTrv2uBcI'}

                    response = requests.request("GET", url,  params = query, timeout = 500)

                    if response.status_code != 200:
                        raise ValueError('API Request not succesfull')

                    predictions = response.json()['datos']

                    predictions = urllib.request.urlopen(predictions)
                    predictions = json.loads(predictions.read().decode('latin-1'))

                    #As usual, json file provides the information in many dictionaries, lists etc. and it is not easy to process it:
                
                    for item in predictions:
                        item_id = item['id']
                        nombre = item['nombre']
                        provincia = item['provincia']
                        prediccion = item['prediccion']
                        prediccion = prediccion['dia']
                        for day in prediccion:
                            fecha = day['fecha']

                            #For get the temperature(max & min):

                            temp = day['temperatura']
                            tmax = temp['maxima']
                            tmin = temp['minima']

                            #In order to access to isolation information. We will map the information afterwards

                            estado_del_cielo = []
                            for data in day['estadoCielo']:

                                if data['value'] == '':
                                    pass
                                else:
                                    estado_id = data['value']
                                    estado_del_cielo.append(estado_id)

                            #Wind information

                            velocidad_viento = []
                            for data in day['viento']:
                                
                                velocidad = float(data['velocidad'])
                                velocidad_viento.append(velocidad)

                            racha_viento = []
                            for data in day['rachaMax']:

                                if data['value'] == '':
                                    pass
                                else:
                                    rachamax = float(data['value'])
                                    racha_viento.append(rachamax)
                            
                            #Now the dataframe is created:

                            estado_cielo = statistics.mode(estado_del_cielo)
                            viento = statistics.mean(velocidad_viento)
                            if len(racha_viento) == 0: #In order to avoid making the mean with '0' values that are errors:
                                racha = None
                            else:
                                racha = statistics.mean(racha_viento)
                                
                            datadict = {'id_municipio': item_id, 'nombre': nombre, 'provincia':provincia, 'fecha': fecha, 'tmax': tmax, 'tmin':tmin, 'Icon_code' : estado_cielo, 'viento': viento, 'racha' :racha}
                            total_prediction = pd.DataFrame(datadict, index = [0])
                            df_prediction = pd.concat([df_prediction, total_prediction])
                    
                    
                        

                else:
                    predictions = response.json()['datos']
                    
                    predictions = urllib.request.urlopen(predictions)
                    predictions = json.loads(predictions.read().decode('latin-1'))

                    #As usual, json file provides the information in many dictionaries, lists etc. and it is not easy to process it:
                
                    for item in predictions:
                        item_id = item['id']
                        nombre = item['nombre']
                        provincia = item['provincia']
                        prediccion = item['prediccion']
                        prediccion = prediccion['dia']
                        for day in prediccion:
                            fecha = day['fecha']

                            #For get the temperature(max & min):

                            temp = day['temperatura']
                            tmax = temp['maxima']
                            tmin = temp['minima']

                            #In order to access to isolation information. We will map the information afterwards

                            estado_del_cielo = []
                            for data in day['estadoCielo']:

                                if data['value'] == '':
                                    pass
                                else:
                                    estado_id = data['value']
                                    estado_del_cielo.append(estado_id)

                            #Wind information

                            velocidad_viento = []
                            for data in day['viento']:
                                
                                velocidad = float(data['velocidad'])
                                velocidad_viento.append(velocidad)

                            racha_viento = []
                            for data in day['rachaMax']:

                                if data['value'] == '':
                                    pass
                                else:
                                    rachamax = float(data['value'])
                                    racha_viento.append(rachamax)
                            
                            #Now the dataframe is created:

                            estado_cielo = statistics.mode(estado_del_cielo)
                            viento = statistics.mean(velocidad_viento)
                            if len(racha_viento) == 0: #In order to avoid making the mean with '0' values
                                racha = None
                            else:
                                racha = statistics.mean(racha_viento)
                            datadict = {'id_municipio': item_id, 'nombre': nombre, 'provincia':provincia, 'fecha': fecha, 'tmax': tmax, 'tmin':tmin, 'Icon_code' : estado_cielo, 'viento': viento, 'racha' :racha}
                            total_prediction = pd.DataFrame(datadict, index = [0])
                            df_prediction = pd.concat([df_prediction, total_prediction])

            return df_prediction
                        
        except Exception as e:
            print(f"Error {e}. Trying again...")
            time.sleep(5.0)  # Wait for another retry           


    return df_prediction

In [19]:
#Download of the predictions for the next seven days:

df_prediction = aemet_municipios_predictions(df_municipios)

Error HTTP Error 500: Internal Server Error. Trying again...

In [20]:
#Lets' take a look at the information we have downloaded
df_prediction.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1064 entries, 0 to 0
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id_municipio  1064 non-null   object
 1   nombre        1064 non-null   object
 2   provincia     1064 non-null   object
 3   fecha         1064 non-null   object
 4   tmax          1064 non-null   object
 5   tmin          1064 non-null   object
 6   Icon_code     1064 non-null   object
 7   viento        1064 non-null   float64
 8   racha         81 non-null     object
dtypes: float64(1), object(8)
memory usage: 83.1+ KB

In [21]:
df_prediction.groupby('nombre').count()

,id_municipio,provincia,fecha,tmax,tmin,Icon_code,viento,racha
nombre,,,,,,,,
Aguilar de Campoo,7,7,7,7,7,7,7,1
Albacete,7,7,7,7,7,7,7,0
Alcalá de Guadaíra,7,7,7,7,7,7,7,0
Alcalá de Henares,7,7,7,7,7,7,7,0
Alcañiz,7,7,7,7,7,7,7,1
...,...,...,...,...,...,...,...,...
Viveiro,7,7,7,7,7,7,7,3
Vélez-Málaga,7,7,7,7,7,7,7,0
Zamora,7,7,7,7,7,7,7,0
Zaragoza,7,7,7,7,7,7,7,0
Ávila,7,7,7,7,7,7,7,1

In [22]:
#This is how the predictions dataframe looks like:

df_prediction.head()

,id_municipio,nombre,provincia,fecha,tmax,tmin,Icon_code,viento,racha
0,28079,Madrid,Madrid,2023-10-10T00:00:00,27,15,11,3.571,NaN
0,28079,Madrid,Madrid,2023-10-11T00:00:00,27,14,12,5.000,NaN
0,28079,Madrid,Madrid,2023-10-12T00:00:00,27,16,12,6.667,NaN
0,28079,Madrid,Madrid,2023-10-13T00:00:00,27,13,13,3.333,NaN
0,28079,Madrid,Madrid,2023-10-14T00:00:00,23,17,43,10.000,NaN

The information related to isolation is not povided the same way it was when downloading historical data. Actually, AEMET only provides the 'status of the sky' indicator, which is not really clear. We  have created a file with the mapping of AEMET and we have made a ''codifiacion_sol'' column as we made for historical data, in order to have the same mapping in both dataframes. It is uploaded on google drivem we can read it directly from there:

In [23]:
def drive_read_file_othersep(url, sep=';'):
    for retry in range(3):
        try:
            # Generate the Google Drive download URL
            file_url = 'https://drive.google.com/uc?id=' + url.split('/')[-2]
            
            # Download the file and read it into a DataFrame
            df = pd.read_csv(file_url, sep=sep)
            
            return df
        except Exception as e:
            print(f"Error {e}. Trying again...")
            time.sleep(5.0)  # Wait for another retry
    
    print("Unable to download and read the file. Please try again later.")
    return None

We have obtained from AEMET the list of the codes related to sky_status so we can cross it with our files:

In [24]:

st_sun = drive_read_file_othersep(url_estado_cielo)
st_sun.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Icon_code     62 non-null     object
 1   estado_cielo  62 non-null     object
 2   cod_sol       62 non-null     int64
dtypes: int64(1), object(2)
memory usage: 1.6+ KB

In this file there are only three rows: the code and name provided by AEMET related to 'sky status' (sunny, clouded etc.) and the 'cod_sol' column, which is a manual code that has been implemented in the project in order to be able to comparate somehow with the historical information used for training the models.

In [25]:
st_sun.head()

  Icon_code         estado_cielo  cod_sol
0        11           Despejado         5
1        12         Poco nuboso         4
2        13  Intervalos nubosos         4
3        14              Nuboso         2
4        15          Muy nuboso         0

We are using this file to recode isolation information from AEMET predictions the same way we did before. Otherwise AEMET prediction would be as follows, which is not comparable with the historical data and no useful at all

In [26]:

st_sun['estado_cielo'].unique()

array(['Despejado ', 'Poco nuboso ', 'Intervalos nubosos ', 'Nuboso ',
       'Muy nuboso ', 'Cubierto ', 'Nubes altas ',
       'Intervalos nubosos con lluvia ', 'Nuboso con lluvia ',
       'Muy nuboso con lluvia ', 'Cubierto con lluvia ',
       'Intervalos nubosos con nieve ', 'Nuboso con nieve ',
       'Muy nuboso con nieve ', 'Cubierto con nieve ',
       'Intervalos nubosos con lluvia escasa ',
       'Nuboso con lluvia escasa ', 'Muy nuboso con lluvia escasa ',
       'Cubierto con lluvia escasa ', 'Cubierto con tormenta ',
       'Intervalos nubosos con tormenta y lluvia escasa ',
       'Intervalos Nubosos con Tormenta',
       'Nuboso con tormenta y lluvia escasa ',
       'Muy nuboso con tormenta y lluvia escasa ',
       'Cubierto con tormenta y lluvia escasa ',
       'Intervalos nubosos con nieve escasa ', 'Nuboso con nieve escasa ',
       'Muy nuboso con nieve escasa ', 'Cubierto con nieve escasa ',
       'Nuboso  ', 'Muy nuboso  ', 'Nubes altas  ', 'Nuboso con lluvia  ',
       'Muy nuboso con lluvia  ', 'Cubierto con lluvia  ',
       'Intervalos nubosos con nieve  ', 'Nuboso con nieve  ',
       'Muy nuboso con nieve  ', 'Intervalos nubosos con lluvia escasa  ',
       'Muy nuboso con lluvia escasa  ', 'Cubierto con lluvia escasa  ',
       'Intervalos nubosos con tormenta', 'Nuboso con tormenta',
       'Muy nuboso con tormenta', 'Cubierto con tormenta  ',
       'Nuboso con tormenta y lluvia escasa  '], dtype=object)

This way we have the file completed in which is related to sun

In [27]:
df_prediction = pd.merge(df_prediction, st_sun, how = 'left', on = 'Icon_code')

In [28]:
df_prediction.head()

,id_municipio,nombre,provincia,fecha,tmax,tmin,Icon_code,viento,racha,estado_cielo,cod_sol
0,28079,Madrid,Madrid,2023-10-10T00:00:00,27,15,11,3.571,NaN,Despejado,5.000
1,28079,Madrid,Madrid,2023-10-11T00:00:00,27,14,12,5.000,NaN,Poco nuboso,4.000
2,28079,Madrid,Madrid,2023-10-12T00:00:00,27,16,12,6.667,NaN,Poco nuboso,4.000
3,28079,Madrid,Madrid,2023-10-13T00:00:00,27,13,13,3.333,NaN,Intervalos nubosos,4.000
4,28079,Madrid,Madrid,2023-10-14T00:00:00,23,17,43,10.000,NaN,Intervalos nubosos con lluvia escasa,2.000

In [29]:
df_prediction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1064 entries, 0 to 1063
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id_municipio  1064 non-null   object
 1   nombre        1064 non-null   object
 2   provincia     1064 non-null   object
 3   fecha         1064 non-null   object
 4   tmax          1064 non-null   object
 5   tmin          1064 non-null   object
 6   Icon_code     1064 non-null   object
 7   viento        1064 non-null   float64
 8   racha         81 non-null     object
 9   estado_cielo  1063 non-null   object
 10  cod_sol       1063 non-null   float64
dtypes: float64(2), object(9)
memory usage: 91.6+ KB

We are going to need to make some changes on the df if we want to apply the models we have prepared. The dataset needs to have the same field than the train datasets and have the same naming in the columns.

In [30]:
def process_df_predictions(prediction_df, codprovincias_file):

        """ 
        Rename name of some provinces
        Extract the tmed feature as a mean of tmax & tmin
        Merging prediction dataframe & codprovincias file to obtain the CCAA
        Groupping by the dataframe to obtain the mean by CCAA and date
        """
        #We need some replacements in 'provincias' in order to match it with the other files:

        prediction_df['provincia'] = prediction_df['provincia'].replace('València/Valencia','Valencia/València')
        prediction_df['provincia'] = prediction_df['provincia'].replace('Illes Balears (Mallorca)','Illes Balears')
        prediction_df['provincia'] = prediction_df['provincia'].replace('Las Palmas (Gran Canaria)','Las Palmas')
        prediction_df['provincia'] = prediction_df['provincia'].replace('Santa Cruz de Tenerife (Tenerife)','Santa Cruz de Tenerife')
        prediction_df['provincia'] = prediction_df['provincia'].replace('Alacant/Alicante','Alicante/Alacant')
        prediction_df['provincia'] = prediction_df['provincia'].replace('Castelló/Castellón','Castellón/Castelló')

        prediction_df['provincia'] = prediction_df['provincia'].apply(unidecode).str.upper()

        #We are creating also the 'tmed' categoory so we can cross it with training data:

        prediction_df['tmed'] = (prediction_df['tmax'] + prediction_df['tmin']) / 2

        #Let's rename also 'viento' to 'velmedia' and 'cod_sol' to 'sol' so we can cross it:

        prediction_df = prediction_df.rename(columns= {'viento': 'velmedia',
                                                       'cod_sol': 'sol'})
        
        #Icon_code can be dropped:

        prediction_df = prediction_df.drop(columns = 'Icon_code')

        #We cross it with provincias file:

        prediction_df = pd.merge(prediction_df, codprovincias_file, how = 'left', on= 'provincia')

        prediction_df = prediction_df.groupby(['fecha', 'comunidad_autonoma'],as_index=False).agg(
        {'tmed': 'mean',
         'tmin': 'mean',
         'tmax': 'mean',
         'velmedia': 'mean',
         'racha': 'mean',
         'sol': 'mean',})
        
        cols_to_convert = ['tmed', 'tmin', 'tmax', 'velmedia', 'racha', 'sol']
        prediction_df[cols_to_convert] = prediction_df[cols_to_convert].astype('float64').round(3)

        return prediction_df

In [31]:
df_prediction_map = process_df_predictions(df_prediction, codprovincias)

#In order to check if the match is correct and there are no NAs

df_prediction_na = df_prediction_map[df_prediction_map['comunidad_autonoma'].isna()]
df_prediction_na['comunidad_autonoma'].unique()

array([], dtype=object)

In [32]:
df_prediction_map.head()

,fecha,comunidad_autonoma,tmed,tmin,tmax,velmedia,racha,sol
0,2023-10-10T00:00:00,ANDALUCIA,23.125,16.917,29.333,6.161,35.000,4.333
1,2023-10-10T00:00:00,ARAGON,20.944,12.667,29.222,3.730,NaN,5.000
2,2023-10-10T00:00:00,CANARIAS,29.333,24.667,34.000,7.024,35.000,4.500
3,2023-10-10T00:00:00,CANTABRIA,19.833,14.333,25.333,3.810,NaN,5.000
4,2023-10-10T00:00:00,CASTILLA Y LEON,18.407,8.630,28.185,3.016,NaN,4.815

In [33]:
df_prediction_map.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133 entries, 0 to 132
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   fecha               133 non-null    object
 1   comunidad_autonoma  133 non-null    object
 2   tmed                133 non-null    float64
 3   tmin                133 non-null    float64
 4   tmax                133 non-null    float64
 5   velmedia            133 non-null    float64
 6   racha               31 non-null     float64
 7   sol                 133 non-null    float64
dtypes: float64(6), object(2)
memory usage: 8.4+ KB

### 3.2 MITECO Reservoir latest data

For reservoir information we are using the same file that we have used for the historical data as it is updated every week -theorically-. The idea then is to extract from the file only the latest information available and - as it is not expected to change that much in a week- apply that figure for the whole weeek for each 'provincia'. The detail of the steps we are using in the function below can be found on 'EFAT_newData' notebook. Here we are directly using the function we created to get the information we need and megre it with the AEMET weather file.

The function below is the best solution found to download the latest data from MITECO. IT download a mdb file of about 300mb (please ensure there is enouegh space) and transform it to a readable dataframe in a few steps.

In [35]:
def download_embalses():
    """
    In order to download and update our 'Embalses' info file which will contain the basic data for hydro estimations.
    Download the zipfile in the current directory, extract the information, and copy it into a variable, then delete the zipfile.
    """

    for retry in range(3):
        try:
            # The file is stored on the 'Ministerio para la Transición Ecológica y reto demográfico' webpage, and it is stored in zip format
            embalses = requests.get('https://www.miteco.gob.es/content/dam/miteco/es/agua/temas/evaluacion-de-los-recursos-hidricos/boletin-hidrologico/Historico-de-embalses/BD-Embalses.zip')

            if embalses.status_code == 200:
                with zipfile.ZipFile(io.BytesIO(embalses.content), 'r') as zip_embalses:
                    zip_embalses.extractall()

                # MDB file path
                mdb_file = 'BD-Embalses.mdb'

                # Table name. It has to be adjusted within the years
                table_name = "T_Datos Embalses 1988-2023"

                # Execute the mdb-export command and get the output as a variable
                command = f"mdb-export {mdb_file} \"{table_name}\""
                output = subprocess.run(shlex.split(command), capture_output=True, text=True, encoding='latin-1').stdout

                # Convert the output into a Pandas DataFrame using the correct encoding
                embalses_data = pd.read_csv(io.StringIO(output), encoding='latin-1')

                # Remove files
                os.remove(mdb_file)

                break
            else:
                time.sleep(5.0)

        except Exception as e:
            print(f"Error {e}. Trying again...")
            time.sleep(5.0)  # Wait for another retry  

    return embalses_data

In [36]:
embalses_file = download_embalses()

This is the same file we have used for the notebook 'Model & Conclussions ' but ensuring that ir is as updated as possible.

In [37]:
embalses_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 664747 entries, 0 to 664746
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   AMBITO_NOMBRE   664747 non-null  object
 1   EMBALSE_NOMBRE  664747 non-null  object
 2   FECHA           664747 non-null  object
 3   AGUA_TOTAL      664745 non-null  object
 4   AGUA_ACTUAL     664745 non-null  object
 5   ELECTRICO_FLAG  664747 non-null  int64
dtypes: int64(1), object(5)
memory usage: 30.4+ MB

Let's download the masterdata of the dams from the shared Google Drive folder:

In [38]:

presas_file = drive_read_latin_encoding_file(url_presas)

Downloading...
From: https://drive.google.com/uc?id=1Iyklyh-5QscQBEycehovyTqadiTZSZrI
To: /home/dsc/data/TFM_EFAT/TFM_EFAT/Presas.csv
100%|██████████| 182k/182k [00:00<00:00, 2.34MB/s]

In [39]:
embalses_file.head()

,AMBITO_NOMBRE,EMBALSE_NOMBRE,FECHA,AGUA_TOTAL,AGUA_ACTUAL,ELECTRICO_FLAG
0,MiÃ±o - Sil,Albarellos,01/05/88 00:00:00,"91,00","32,00",1
1,MiÃ±o - Sil,Albarellos,01/12/88 00:00:00,"91,00","44,00",1
2,MiÃ±o - Sil,Albarellos,01/19/88 00:00:00,"91,00","42,00",1
3,MiÃ±o - Sil,Albarellos,01/26/88 00:00:00,"91,00","43,00",1
4,MiÃ±o - Sil,Albarellos,02/02/88 00:00:00,"91,00","65,00",1

In [40]:
presas_file.head()

,Presa,Demarcación,Cauce,Fase,Titular,Provincia
0,ABENOJAR,GUADIANA,ARROYO DE LA VIRGEN,Explotación,AYUNTAMIENTO DE ABENOJAR,Ciudad Real
1,ABRILONGO,NaN,RIO ABRILONGO,Explotación,PORTUGAL,NaN
2,ACEBO,TAJO,RIVERA DE ACEBO,Explotación,"JUNTA DE EXTREMADURA, CONSEJERÍA DE FOMENTO, V...",Cáceres
3,ACECA,TAJO,SIN NOMBRE,Explotación,IBERDROLA GENERACION S.A.,Toledo
4,ACEHUCHE,TAJO,ARROYO DE LA GARGANTA,Explotación,"JUNTA DE EXTREMADURA, CONSEJERÍA DE FOMENTO, V...",Cáceres

Let's mix these files and select only the year we want -2023 as of today-.

In [41]:
def embalses_select_year (df, presas_file, year):

    """
    Mix the 'embalses' file with masterdata to obtain the province.
    Select only the year mentioned and the dams with hydroelectric generation.
    """

    #Firstly, we read the 'embalses' data and select only the year we want and to process 'Embalse Nombre' in order to match it with 'presas' file.
    #We only want the dams with the electricty flag marked
    
    embalses_elect = df
    embalses_elect = embalses_elect.loc[embalses_elect['ELECTRICO_FLAG'] == 1]
    embalses_elect['year'] = pd.DatetimeIndex(embalses_elect['FECHA']).year

    #In order to transform water KPIs into numeric
    str(embalses_elect['AGUA_TOTAL'])
    embalses_elect['AGUA_TOTAL'] = embalses_elect['AGUA_TOTAL'].str.replace(',' , '.')
    embalses_elect['AGUA_TOTAL'] = embalses_elect['AGUA_TOTAL'].apply(pd.to_numeric)
    str(embalses_elect['AGUA_ACTUAL'])
    embalses_elect['AGUA_ACTUAL'] = embalses_elect['AGUA_ACTUAL'].str.replace(',' , '.')
    embalses_elect['AGUA_ACTUAL'] = embalses_elect['AGUA_ACTUAL'].apply(pd.to_numeric)

    #In order to have the information of the year that we want and to get the name of the dam in the way to match it with 'presas' file

    embalses_elect = embalses_elect.query('year == @year')
    embalses_elect['EMBALSE_NOMBRE'] = embalses_elect['EMBALSE_NOMBRE'].apply(str.upper).apply(unidecode)

    #Now, we have to preprocess 'presas' data

    presas = presas_file
    presas.rename({'Presa':'EMBALSE_NOMBRE'}, axis = 1, inplace = True)
    presas['EMBALSE_NOMBRE'] = presas['EMBALSE_NOMBRE'].apply(unidecode)

    #At last, the joint. It will be some dams not matched but are not relevant for our study:

    embalses_capacity = embalses_elect.merge(presas, on = 'EMBALSE_NOMBRE', how= 'inner')
    
    return embalses_capacity

In [42]:
embalses_2023 = embalses_select_year(embalses_file, presas_file, 2023)

/tmp/ipykernel_4017/1172069353.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  embalses_elect['year'] = pd.DatetimeIndex(embalses_elect['FECHA']).year
/tmp/ipykernel_4017/1172069353.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  embalses_elect['AGUA_TOTAL'] = embalses_elect['AGUA_TOTAL'].str.replace(',' , '.')
/tmp/ipykernel_4017/1172069353.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  embalses_elect['AGUA_TOTAL'] = embalses_elect['AGUA_TOTAL'].apply(pd.to_numeric)
/tmp/ipykernel_4017/1172069353.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  embalses_elect['AGUA_ACTUAL'] = embalses_elect['AGUA_ACTUAL'].str.replace(',' , '.')
/tmp/ipykernel_4017/1172069353.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  embalses_elect['AGUA_ACTUAL'] = embalses_elect['AGUA_ACTUAL'].apply(pd.to_numeric)
/tmp/ipykernel_4017/1172069353.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  embalses_elect['EMBALSE_NOMBRE'] = embalses_elect['EMBALSE_NOMBRE'].apply(str.upper).apply(unidecode)

Now we want to select only the latest 'picture' available for the water conditions, as we want to predict based on the current data.

In [43]:
def embalses_latest_data(embalses_file, cod_provincias_file):

    """ 
    In order to prepare the information to insert it into the trained model.
    Selects latest information available and cross it with provinces file to obtain the CCAA.
    """

    #We only need information accumulated by 'Provincia' and 'FECHA':

    embalses_file = (
        embalses_file.groupby(
        by =['FECHA','Provincia'], as_index =False)[['AGUA_TOTAL', 'AGUA_ACTUAL']]
        .sum()
    )
    #For the new data analysis we will use always the ,latest information available on the file:
    embalses_last_date = embalses_file['FECHA'].max()
    embalses_file = embalses_file[embalses_file['FECHA'] == embalses_last_date].reset_index(drop = True)

    #We need to modify some 'Provincia' names:
    embalses_file['Provincia'] = embalses_file['Provincia'].replace('Coruña, A' ,'A Coruña')

    #We drop now 'FECHA' column as it is not necessary anymore
    embalses_file = embalses_file.drop(columns = ['FECHA'])

    #In order to have'Provincias' in the same form as the other files:

    embalses_file = embalses_file.rename(columns = {'Provincia': 'provincia'})
    embalses_file['provincia'] = embalses_file['provincia'].apply(unidecode).str.upper()

    #We have to merge it with codprovincias to get the 'comunidad_autonom' columns
    embalses_file = pd.merge(embalses_file, cod_provincias_file, on = 'provincia', how = 'left')

    #Groupping by CCAA so we have the info the same way as the other files:
    embalses_file = embalses_file.groupby('comunidad_autonoma', as_index = False)[['AGUA_TOTAL','AGUA_ACTUAL']].sum().round(3)

    return embalses_file

In [44]:
embalses_new_data = embalses_latest_data(embalses_2023, codprovincias)

In [45]:
embalses_new_data.head()

   comunidad_autonoma  AGUA_TOTAL  AGUA_ACTUAL
0           ANDALUCIA      65.000       28.000
1              ARAGON    2231.000      589.000
2           CANTABRIA      12.000        2.000
3     CASTILLA Y LEON    4773.000     2199.000
4  CASTILLA-LA MANCHA      44.000       40.000

In [46]:

print(embalses_new_data['comunidad_autonoma'].isna().sum())

0

Now we do have the latest available information regarding the dams level average for each CCAA:

In [47]:
embalses_new_data.head()

   comunidad_autonoma  AGUA_TOTAL  AGUA_ACTUAL
0           ANDALUCIA      65.000       28.000
1              ARAGON    2231.000      589.000
2           CANTABRIA      12.000        2.000
3     CASTILLA Y LEON    4773.000     2199.000
4  CASTILLA-LA MANCHA      44.000       40.000

### 4.3 PowerInstalled latest info

In order to have the latest information possible related to the power installed in Spain for each technology, as it is an important variable that we are including in our models. We will use the latest information available on REE.

In [48]:
def data_REE_potencia_instalada(yearini, yearend): 

    """ 
    REE API Only allows to extract data in a yearly range as much, in monthly basis. We are downloading the info through a loop, selecting the desired fields in the json file
    """

    years = range(yearini,yearend + 1)
    all_data = []

    #First we get the response from REE (It only allow us to see one year each time). We will create an empty list that will be appended

    for retry in range(3):
        try:

            for year in years:

                #First we get the response from REE (It only allow us to see one year each time)

                response = requests.get(f"https://apidatos.ree.es/es/datos/generacion/potencia-instalada?start_date={year}-01-01T00:00&end_date={year}-12-31T23:59&time_trunc=day&all_ccaa=allCcaa")
                
                #Data comes in a json with dictionaries inside. To access to the data we have to proccess it a little bit with json and dictionary methods.

                pinstalled = response.json()['included']

                for ccaa in pinstalled:

                    cc_aa = ccaa['community_name']
                    
                    #We create a for loop in order to access to all data in the dicionary and to get the complete list for all the energetic resources
                    
                    for item in ccaa['content']:

                        techonology = item['type']
                
                        for element in item['attributes']['values']:
                            
                            value = element['value']
                            month = element['datetime']
                            all_data.append({
                                'comunidad_autonoma': cc_aa,
                                'type': techonology,
                                'month': month,
                                'value': value
                            })
                    time.sleep(3.0)
            data_consolidated = pd.DataFrame(all_data)
        except Exception as e:
            print(f"Error {e}. Trying again...")
            time.sleep(5.0)  # Wait for another retry
    
    return data_consolidated

In [49]:
power_new = data_REE_potencia_instalada(2023, 2023) #TO get the information of current year

In [50]:
power_new.head()

  comunidad_autonoma        type                          month   value
0          Andalucía  Hidráulica  2023-01-01T00:00:00.000+01:00 623.288
1          Andalucía  Hidráulica  2023-02-01T00:00:00.000+01:00 623.288
2          Andalucía  Hidráulica  2023-03-01T00:00:00.000+01:00 623.288
3          Andalucía  Hidráulica  2023-04-01T00:00:00.000+02:00 623.288
4          Andalucía  Hidráulica  2023-05-01T00:00:00.000+02:00 623.288

The file just have the information of the CCAA, the type (techonology) the date (monthly) and the value which is the total capacity of production.

In [51]:
power_new['comunidad_autonoma'].unique()

array(['Andalucía', 'Aragón', 'Principado de Asturias', 'Cantabria',
       'Castilla- La Mancha', 'Castilla y León', 'Cataluña',
       'Comunidad Ceuta', 'Comunidad de Madrid', 'Comunidad Valenciana',
       'Extremadura', 'Galicia', 'Islas Baleares', 'Islas Canarias',
       'La Rioja', 'Comunidad Melilla', 'Región de Murcia',
       'Comunidad de Navarra', 'País Vasco', 'Todas'], dtype=object)

In [52]:
power_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5520 entries, 0 to 5519
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   comunidad_autonoma  5520 non-null   object
 1   type                5520 non-null   object
 2   month               5520 non-null   object
 3   value               5520 non-null   float64
dtypes: float64(1), object(3)
memory usage: 172.6+ KB

We are using now some functions we used in 'Model & Conclusions' notebook to process the file: moving generation values to columns, dropping columns not needed, unidecoding...

In [53]:
def pivot_table_generation_by_ccaa(generation_total_by_ccaa_file):
    """
    Transposing the category column 'type' into several columns with 'value_ccaa' as values.
    """

    #We create the pivot table: only with the columnd we are interested in:
    generation_total_by_ccaa_file =  generation_total_by_ccaa_file.pivot_table(index = ['fecha', 'comunidad_autonoma'],
                                                            columns = 'Type',
                                                            values = 'value_ccaa',
                                                            fill_value = 0).reset_index()
    

    #In order to remove 'Type' index column that has been inserted automatically with the pivot table:

    generation_total_by_ccaa_file = generation_total_by_ccaa_file.reset_index(drop = True)
    generation_total_by_ccaa_file.columns.name = None
    
    return generation_total_by_ccaa_file

In [54]:
def powerinstalled_CCAA_process(powerfile):

        """
        Dropping columns not needed, decoding text and transforming dates into a friendly format.
        Selecting the technologies we are using.
        """
        
        powerfile = powerfile.drop(columns = [col for col in powerfile.columns if col =='Unnamed: 0'])

        #As we have made for the generation_total file, we need the period to cross data instead of just 'month':

        powerfile['month'] = powerfile['month'].str[:10]
        powerfile['month'] = pd.to_datetime(powerfile['month'])

        #In order to cross with other files by community name:

        powerfile['comunidad_autonoma'] = powerfile['comunidad_autonoma'].apply(unidecode).str.upper()

        #Filter only the techs we want and drop 'todas' from comunidad autonoma

        technologies_to_use = ['Solar térmica','Hidráulica','Solar fotovoltaica','Eólica']
        powerfile = powerfile[powerfile['type'].isin(technologies_to_use)]
        powerfile = powerfile[powerfile['comunidad_autonoma'] != 'TODAS']

        #'type' column has to be renamed also:

        powerfile = powerfile.rename(columns={'type': 'Type',
                                              'value': 'value_ccaa',
                                              'month': 'fecha'})

        return powerfile

We trasnform it the same way we have done for training data:

In [55]:

power_inst_new = powerinstalled_CCAA_process(power_new)

In ordert to have the different technologies as columns:

In [56]:
power_inst_new = pivot_table_generation_by_ccaa(power_inst_new)

And we are using now only the latest month info:

In [57]:
def power_installed_last_month(powerinstalled_file):
    lastmonth = powerinstalled_file['fecha'].max()
    power_file = powerinstalled_file[powerinstalled_file['fecha'] == lastmonth]
    power_file = power_file.rename(columns= {'Eólica': 'inst_Eólica',
                                                       'Hidráulica': 'inst_Hidráulica',
                                                       'Solar fotovoltaica': 'inst_Solar fotovoltaica',
                                                       'Solar térmica': 'inst_Solar_térmica'
                                                       })

    return power_file

In [58]:
power_inst_new = power_installed_last_month(power_inst_new)

Also we have to rename several 'comunidad autonoma' name as we have made for trainign data in order to match it with 'weather' file:

In [59]:
def REE_ccaa_rename(dataframe):
    dataframe['comunidad_autonoma'] = dataframe['comunidad_autonoma'].replace({'CASTILLA- LA MANCHA': 'CASTILLA-LA MANCHA',
                                                                                          'COMUNIDAD DE NAVARRA': 'COMUNIDAD FORAL DE NAVARRA',
                                                                                          'COMUNIDAD MELILLA':'MELILLA',
                                                                                          'COMUNIDAD VALENCIANA': 'COMUNITAT VALENCIANA',
                                                                                          'ISLAS BALEARES': 'ILLES BALEARS',
                                                                                          'ISLAS CANARIAS': 'CANARIAS',
                                                                                          })
    return dataframe

In [60]:

power_inst_new = REE_ccaa_rename(power_inst_new)

In [61]:
power_inst_new.head()

,fecha,comunidad_autonoma,inst_Eólica,inst_Hidráulica,inst_Solar fotovoltaica,inst_Solar_térmica
162,2023-10-01,ANDALUCIA,3639.531,623.288,4742.985,1000.023
163,2023-10-01,ARAGON,5082.004,1333.815,2295.652,0.000
164,2023-10-01,CANTABRIA,35.307,98.912,4.358,0.000
165,2023-10-01,CASTILLA Y LEON,6621.667,4397.562,1684.023,0.000
166,2023-10-01,CASTILLA-LA MANCHA,4876.024,651.388,5614.176,349.400

In [62]:
#We can drop 'fecha' already
power_inst_new = power_inst_new.drop(columns = ['fecha'])

### 4.4 Merge forecast files

As we have made before, we are using a function that was develeoped on the notebook 'EFAT_newData' which basically consists on merging both AEMET weather and MITECO Reservoir data files and also with 'provincias' in order to have the information related to 'comunidad_autonoma'

It is important to ensure that the naming of the 'comunidad_autonoma' file is the same for the three files

In [63]:

ccaaweather = [item for item in df_prediction_map['comunidad_autonoma'].unique()]
ccaapower = [item for item in power_inst_new['comunidad_autonoma'].unique()]
ccaawater = [item for item in embalses_new_data['comunidad_autonoma'].unique()]
print(ccaaweather)
print(ccaapower)
print(ccaawater)

['ANDALUCIA', 'ARAGON', 'CANARIAS', 'CANTABRIA', 'CASTILLA Y LEON', 'CASTILLA-LA MANCHA', 'CATALUNA', 'CEUTA', 'COMUNIDAD DE MADRID', 'COMUNIDAD FORAL DE NAVARRA', 'COMUNITAT VALENCIANA', 'EXTREMADURA', 'GALICIA', 'ILLES BALEARS', 'LA RIOJA', 'MELILLA', 'PAIS VASCO', 'PRINCIPADO DE ASTURIAS', 'REGION DE MURCIA']
['ANDALUCIA', 'ARAGON', 'CANTABRIA', 'CASTILLA Y LEON', 'CASTILLA-LA MANCHA', 'CATALUNA', 'COMUNIDAD DE MADRID', 'COMUNIDAD FORAL DE NAVARRA', 'MELILLA', 'COMUNITAT VALENCIANA', 'EXTREMADURA', 'GALICIA', 'ILLES BALEARS', 'CANARIAS', 'LA RIOJA', 'PAIS VASCO', 'PRINCIPADO DE ASTURIAS', 'REGION DE MURCIA']
['ANDALUCIA', 'ARAGON', 'CANTABRIA', 'CASTILLA Y LEON', 'CASTILLA-LA MANCHA', 'CATALUNA', 'COMUNIDAD FORAL DE NAVARRA', 'COMUNITAT VALENCIANA', 'EXTREMADURA', 'GALICIA', 'PAIS VASCO', 'PRINCIPADO DE ASTURIAS']

In [64]:
def all_predictions (predictions_file, embalses_file, power_installed_file): #To finally have the file ready to work with it:

    """ 
    Function to cross all dataframes AEMET, MITECO & REE regarding predictions and create the final dataframe
    Creating the column 'Weekday' to incorporate it into 'demand' file.
    """
    
    predictions_total = pd.merge(predictions_file, embalses_file, how = 'left', on = 'comunidad_autonoma')

    #Now we cross it with codprovincias file:

    predictions_total = pd.merge(predictions_total, power_installed_file, how = 'left', on= 'comunidad_autonoma')

    #Let's transform 'fecha' into datetime:

    predictions_total['fecha'] = pd.to_datetime(predictions_total['fecha'])

    #Replacing NAs for water info:
    predictions_total['AGUA_TOTAL'] = predictions_total['AGUA_TOTAL'].fillna(0)
    predictions_total['AGUA_ACTUAL'] = predictions_total['AGUA_ACTUAL'].fillna(0)

    #We are including also the column 'weekday' which will help us when estimating demand:

    predictions_total['Weekday'] = predictions_total['fecha'].dt.day_name().apply(lambda x:1 if x in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'] else 0)

    return predictions_total

In [65]:
df_predictions_total = all_predictions(df_prediction_map, embalses_new_data,power_inst_new)

In [66]:
df_predictions_total.head()

,fecha,comunidad_autonoma,tmed,tmin,tmax,velmedia,racha,sol,AGUA_TOTAL,AGUA_ACTUAL,inst_Eólica,inst_Hidráulica,inst_Solar fotovoltaica,inst_Solar_térmica,Weekday
0,2023-10-10,ANDALUCIA,23.125,16.917,29.333,6.161,35.000,4.333,65.000,28.000,3639.531,623.288,4742.985,1000.023,1
1,2023-10-10,ARAGON,20.944,12.667,29.222,3.730,NaN,5.000,2231.000,589.000,5082.004,1333.815,2295.652,0.000,1
2,2023-10-10,CANARIAS,29.333,24.667,34.000,7.024,35.000,4.500,0.000,0.000,651.630,1.520,225.800,0.000,1
3,2023-10-10,CANTABRIA,19.833,14.333,25.333,3.810,NaN,5.000,12.000,2.000,35.307,98.912,4.358,0.000,1
4,2023-10-10,CASTILLA Y LEON,18.407,8.630,28.185,3.016,NaN,4.815,4773.000,2199.000,6621.667,4397.562,1684.023,0.000,1

In [67]:
df_predictions_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133 entries, 0 to 132
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   fecha                    133 non-null    datetime64[ns]
 1   comunidad_autonoma       133 non-null    object
 2   tmed                     133 non-null    float64
 3   tmin                     133 non-null    float64
 4   tmax                     133 non-null    float64
 5   velmedia                 133 non-null    float64
 6   racha                    31 non-null     float64
 7   sol                      133 non-null    float64
 8   AGUA_TOTAL               133 non-null    float64
 9   AGUA_ACTUAL              133 non-null    float64
 10  inst_Eólica              126 non-null    float64
 11  inst_Hidráulica          126 non-null    float64
 12  inst_Solar fotovoltaica  126 non-null    float64
 13  inst_Solar_térmica       126 non-null    float64
 14  Weekday                  133 non-null    int64
dtypes: datetime64[ns](1), float64(12), int64(1), object(1)
memory usage: 15.7+ KB

We are going to need to handle 'NA' values for several columns. It makes sense to use '0' for 'powerinstalled' columns as no all 'comunidades autonomas' have installation of all technologies. It's similar to the approach we have to use for 'AGUA_ACTUAL' & 'AGUA_TOTAL' variables as not all ccaa have production as we have made for the training data. However, for 'sol' and 'racha' the approach should be different: all 'ccaa' are affected by the sun and by the wind. Therefore we will use the mean for those cases.

In [68]:
def fill_na_predictions (predictions_file):

    predictions_file.fillna({
        'AGUA_TOTAL': 0,
        'AGUA_ACTUAL':0,
        'inst_Eólica':0,
        'inst_Hidráulica':0,
        'inst_Solar fotovoltaica':0,
        'inst_Solar_térmica':0,
    }, inplace = True )
    predictions_file['racha'].fillna(predictions_file['racha'].mean(), inplace=True)
    predictions_file['sol'].fillna(predictions_file['sol'].mean(), inplace=True)
    
    return predictions_file

In [69]:
df_predictions_total = fill_na_predictions(df_predictions_total)
df_predictions_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133 entries, 0 to 132
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   fecha                    133 non-null    datetime64[ns]
 1   comunidad_autonoma       133 non-null    object
 2   tmed                     133 non-null    float64
 3   tmin                     133 non-null    float64
 4   tmax                     133 non-null    float64
 5   velmedia                 133 non-null    float64
 6   racha                    133 non-null    float64
 7   sol                      133 non-null    float64
 8   AGUA_TOTAL               133 non-null    float64
 9   AGUA_ACTUAL              133 non-null    float64
 10  inst_Eólica              133 non-null    float64
 11  inst_Hidráulica          133 non-null    float64
 12  inst_Solar fotovoltaica  133 non-null    float64
 13  inst_Solar_térmica       133 non-null    float64
 14  Weekday                  133 non-null    int64
dtypes: datetime64[ns](1), float64(12), int64(1), object(1)
memory usage: 15.7+ KB

In [70]:
df_predictions_total.sort_values(by='inst_Solar fotovoltaica').head(10)

,fecha,comunidad_autonoma,tmed,tmin,tmax,velmedia,racha,sol,AGUA_TOTAL,AGUA_ACTUAL,inst_Eólica,inst_Hidráulica,inst_Solar fotovoltaica,inst_Solar_térmica,Weekday
45,2023-10-12,CEUTA,22.500,20.000,25.000,20.000,47.032,2.000,0.000,0.000,0.000,0.000,0.000,0.000,1
26,2023-10-11,CEUTA,23.000,21.000,25.000,14.286,47.032,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1
64,2023-10-13,CEUTA,21.500,19.000,24.000,15.000,47.032,4.000,0.000,0.000,0.000,0.000,0.000,0.000,1
121,2023-10-16,CEUTA,22.500,20.000,25.000,15.000,47.032,1.000,0.000,0.000,0.000,0.000,0.000,0.000,1
83,2023-10-14,CEUTA,23.000,19.000,27.000,15.000,47.032,2.000,0.000,0.000,0.000,0.000,0.000,0.000,0
7,2023-10-10,CEUTA,23.000,21.000,25.000,10.000,47.032,4.000,0.000,0.000,0.000,0.000,0.000,0.000,1
102,2023-10-15,CEUTA,24.500,21.000,28.000,0.000,47.032,4.000,0.000,0.000,0.000,0.000,0.000,0.000,0
15,2023-10-10,MELILLA,22.000,19.000,25.000,8.571,47.032,4.000,0.000,0.000,0.000,0.000,0.060,0.000,1
129,2023-10-16,MELILLA,24.000,21.000,27.000,10.000,47.032,1.000,0.000,0.000,0.000,0.000,0.060,0.000,1
72,2023-10-13,MELILLA,23.000,20.000,26.000,10.000,47.032,2.000,0.000,0.000,0.000,0.000,0.060,0.000,1

In [71]:
com_autonoma__view = df_predictions_total.groupby('comunidad_autonoma').mean()
com_autonoma__view

,fecha,tmed,tmin,tmax,velmedia,racha,sol,AGUA_TOTAL,AGUA_ACTUAL,inst_Eólica,inst_Hidráulica,inst_Solar fotovoltaica,inst_Solar_térmica,Weekday
comunidad_autonoma,,,,,,,,,,,,,,
ANDALUCIA,2023-10-13,22.729,17.304,28.155,10.269,44.331,2.958,65.000,28.000,3639.531,623.288,4742.985,1000.023,0.714
ARAGON,2023-10-13,19.262,12.445,26.079,7.800,47.099,3.286,2231.000,589.000,5082.004,1333.815,2295.652,0.000,0.714
CANARIAS,2023-10-13,28.012,23.214,32.809,8.912,44.308,4.048,0.000,0.000,651.630,1.520,225.800,0.000,0.714
CANTABRIA,2023-10-13,20.238,15.952,24.524,13.175,46.942,2.190,12.000,2.000,35.307,98.912,4.358,0.000,0.714
CASTILLA Y LEON,2023-10-13,17.130,9.820,24.439,8.556,46.785,2.556,4773.000,2199.000,6621.667,4397.562,1684.023,0.000,0.714
CASTILLA-LA MANCHA,2023-10-13,19.733,12.686,26.781,10.179,45.975,2.924,44.000,40.000,4876.024,651.388,5614.176,349.400,0.714
CATALUNA,2023-10-13,21.137,15.976,26.298,11.669,42.961,3.464,460.000,324.000,1379.150,1922.217,300.852,24.290,0.714
CEUTA,2023-10-13,22.857,20.143,25.571,12.755,47.032,2.429,0.000,0.000,0.000,0.000,0.000,0.000,0.714
COMUNIDAD DE MADRID,2023-10-13,19.048,12.667,25.429,7.563,47.032,2.952,0.000,0.000,0.000,108.517,63.363,0.000,0.714
COMUNIDAD FORAL DE NAVARRA,2023-10-13,18.548,12.048,25.048,7.835,47.032,3.095,28.000,20.000,1360.912,237.711,169.462,0.000,0.714
COMUNITAT VALENCIANA,2023-10-13,22.738,17.302,28.175,9.622,47.032,3.460,138.000,118.000,1243.030,641.894,453.813,49.900,0.714
EXTREMADURA,2023-10-13,22.119,15.524,28.714,8.095,47.032,2.572,273.000,259.000,39.375,2277.362,5570.471,849.000,0.714
GALICIA,2023-10-13,20.833,15.083,26.583,12.905,49.680,1.940,2845.000,1582.000,3887.300,3732.496,18.232,0.000,0.714
ILLES BALEARS,2023-10-13,22.250,17.143,27.357,10.935,46.742,2.929,0.000,0.000,3.568,0.000,252.243,0.000,0.714
LA RIOJA,2023-10-13,18.333,11.619,25.048,6.678,47.032,3.095,0.000,0.000,448.120,52.426,99.894,0.000,0.714
MELILLA,2023-10-13,24.000,20.714,27.286,9.796,47.032,3.000,0.000,0.000,0.000,0.000,0.060,0.000,0.714
PAIS VASCO,2023-10-13,19.921,13.762,26.079,9.879,49.223,2.667,290.000,165.000,159.814,177.657,51.580,0.000,0.714
PRINCIPADO DE ASTURIAS,2023-10-13,20.595,15.238,25.952,12.143,50.023,1.905,369.000,266.000,698.075,804.977,1.005,0.000,0.714
REGION DE MURCIA,2023-10-13,23.143,17.095,29.191,9.490,50.313,3.095,0.000,0.000,262.770,35.478,1416.161,31.400,0.714

We have alreadya  df with all the values we need to calculate the generation estimated per technology. To do so, we are splitting the daframe in subdfs as we made for the training data:

For this we are considering for each technology the 'comunidades autónomas' that have been trained during the modeling phase. Otherwise the dataframe would have not identified columns and may fail.

In [72]:
def onehotencoder_ccaa (dataframe):

    dataframe_enc = dataframe.copy()
    enc = OneHotEncoder() 
    encoded_feature = enc.fit_transform(dataframe_enc[['comunidad_autonoma']]).toarray() #it only works with arrays
    df_feature = pd.DataFrame(encoded_feature, columns = enc.get_feature_names_out(['comunidad_autonoma']))
    dataframe_enc = dataframe_enc.drop('comunidad_autonoma', axis = 1)
    dataframe_enc = dataframe_enc.reset_index(drop=True)
    df_encoded = pd.concat([dataframe_enc, df_feature], axis = 1)
    return df_encoded

Let's filter the data for each technology and demand.

In [73]:

def filter_predictions_df(predictions_dataframe):

    """ 
    Creates from a single consolidated dataframe 5 dataframes, one for each target.
    Filter the 'comunidades autonomas' relevant for each category.
    Selects for each dataframe the relevant variables to consider
    Makes the OneHotEncoder for each dataframe
    """

    ccaa_solartermica = ['ANDALUCIA', 'CASTILLA-LA MANCHA', 'CATALUNA', 'COMUNITAT VALENCIANA','EXTREMADURA','REGION DE MURCIA']
    ccaa_solarfotovoltaica = ['ANDALUCIA', 'ARAGON', 'CANARIAS' ,'CASTILLA Y LEON', 'CASTILLA-LA MANCHA',
                              'CATALUNA', 'COMUNIDAD DE MADRID', 'COMUNIDAD FORAL DE NAVARRA',
                              'COMUNITAT VALENCIANA', 'EXTREMADURA' ,'GALICIA', 'ILLES BALEARS', 'LA RIOJA',
                              'PAIS VASCO', 'REGION DE MURCIA']
    ccaa_hidraulica = ['ANDALUCIA', 'ARAGON' ,'CANARIAS' ,'CANTABRIA', 'CASTILLA Y LEON',
                       'CASTILLA-LA MANCHA', 'CATALUNA', 'COMUNIDAD FORAL DE NAVARRA',
                       'COMUNITAT VALENCIANA' ,'GALICIA','LA RIOJA', 'PAIS VASCO',
                       'PRINCIPADO DE ASTURIAS' ,'REGION DE MURCIA', 'EXTREMADURA']
    ccaa_eolica = ['ANDALUCIA' ,'ARAGON' ,'CANTABRIA' ,'CASTILLA Y LEON' ,'CASTILLA-LA MANCHA',
                   'CATALUNA', 'COMUNIDAD DE MADRID', 'COMUNIDAD FORAL DE NAVARRA',
                   'COMUNITAT VALENCIANA' ,'EXTREMADURA' ,'GALICIA', 'LA RIOJA', 'PAIS VASCO',
                   'PRINCIPADO DE ASTURIAS', 'REGION DE MURCIA']

    #Based on the information provided by the Pndas Profile and the other notebooks, we can drop alredy some variables that we know are not relevant for each technology:
    
    pred_solartermica = predictions_dataframe[predictions_dataframe['comunidad_autonoma'].isin(ccaa_solartermica)]
    pred_solartermica = pred_solartermica[['fecha', 'comunidad_autonoma','tmed','tmax','velmedia','sol', 'inst_Solar_térmica']] \
        .rename(columns = {'Solar térmica':'generation'})
    pred_solarfotovoltaica = predictions_dataframe[predictions_dataframe['comunidad_autonoma'].isin(ccaa_solarfotovoltaica)]
    pred_solarfotovoltaica = pred_solarfotovoltaica[['fecha', 'comunidad_autonoma','tmed','tmax','velmedia','sol', 'inst_Solar fotovoltaica']] \
        .rename(columns = {'Solar fotovoltaica':'generation'})
    pred_hidraulica = predictions_dataframe[predictions_dataframe['comunidad_autonoma'].isin(ccaa_hidraulica)]
    pred_hidraulica = pred_hidraulica[['fecha','comunidad_autonoma','tmed','AGUA_ACTUAL','AGUA_TOTAL', 'inst_Hidráulica']] \
        .rename(columns = {'Hidráulica':'generation'})
    pred_eolica = predictions_dataframe[predictions_dataframe['comunidad_autonoma'].isin(ccaa_eolica)]
    pred_eolica = pred_eolica[['fecha', 'comunidad_autonoma','tmed', 'velmedia', 'racha', 'inst_Eólica']] \
        .rename(columns = {'Eólica':'generation'})
    pred_demand = predictions_dataframe[['fecha', 'comunidad_autonoma', 'tmed', 'sol', 'Weekday',]]

    #We take the opportunity to do already here the OneHotEncoder:

    pred_solartermica = onehotencoder_ccaa(pred_solartermica)
    pred_solarfotovoltaica = onehotencoder_ccaa(pred_solarfotovoltaica)
    pred_hidraulica = onehotencoder_ccaa(pred_hidraulica)
    pred_eolica = onehotencoder_ccaa(pred_eolica)
    pred_demand = onehotencoder_ccaa(pred_demand)
    #The only CCAA we don't analize:
    pred_demand.drop(columns = 'comunidad_autonoma_CEUTA', inplace =True)
    return pred_solartermica, pred_solarfotovoltaica, pred_hidraulica, pred_eolica, pred_demand

In [74]:
pred_solartermica, pred_solarfotovoltaica, pred_hidraulica, pred_eolica, pred_demand = filter_predictions_df(df_predictions_total)

### 5. Get the predictions

Once we have readys the different dataframes for each category, it is time to apply the models we have trained before to get the estimation of the energetic production. \
As we have seen, 'Knn' model has worked well in terms of R2 for all the variables, with a minimun difference when using StandardScaler or MinMaxScaler. Therefore, we are using 'KNN' model and 'Standard Scaler' for all the technologies.

In [75]:
def drive_read_joblibmodel(url): #In order to download the trained models

    # Generate the Google Drive download URL
    download_url = 'https://drive.google.com/uc?id=' + url.split('/')[-2]

    for retry in range(3):
        try:

            # Download the file using gdown
            file_path = gdown.download(download_url, quiet=False)

            if file_path is not None:
            
                # Read the file directly into a pandas DataFrame
                model = load(file_path)
                
                # Delete the downloaded file
                os.remove(file_path)

                return model
            
            else:
                print("Download failed. Trying again...")
                time.sleep(5.0)  # Wait for another retry

        except Exception as e:
            print(f"Error {e}. Trying again...")
            time.sleep(5.0)  # Wait for another retry

    print("Unable to download and read the file. Please try again later.")
    return None

Let's download the models that have already been saved on the Google Drive's sharefolder

In [76]:
url_solarfoto = "https://drive.google.com/file/d/1TE8Cu3JlCxrAjPFcoYozHkNxG5PwRqkc/view?usp=drive_link"
model_solarfoto = drive_read_joblibmodel(url_solarfoto)

url_solarterm = "https://drive.google.com/file/d/18lDGDaqJ0xWkvFMWjxEa2Y4FurCW2Ukn/view?usp=drive_link"
model_solarterm = drive_read_joblibmodel(url_solarterm)

url_eolic = "https://drive.google.com/file/d/1Sp4Sl9vZ0p1j7yIvgxl1JxZC_dF3wVIb/view?usp=drive_link"
model_eolic = drive_read_joblibmodel(url_eolic)


url_hidro = "https://drive.google.com/file/d/12NXRR5DcgxgCh2kQaV0AWWSpYOH76oJi/view?usp=drive_link"
model_hidro = drive_read_joblibmodel(url_hidro)

url_demand = "https://drive.google.com/file/d/1krPoisaeSqx8nCXFqyoqeN8F4XkJh4nd/view?usp=drive_link"
model_demand = drive_read_joblibmodel(url_demand)

Downloading...
From: https://drive.google.com/uc?id=1TE8Cu3JlCxrAjPFcoYozHkNxG5PwRqkc
To: /home/dsc/data/TFM_EFAT/TFM_EFAT/solar_foto_models_KNeighborsRegressor_MinMaxScaler.joblib
100%|██████████| 6.14M/6.14M [00:03<00:00, 1.75MB/s]
Downloading...
From: https://drive.google.com/uc?id=18lDGDaqJ0xWkvFMWjxEa2Y4FurCW2Ukn
To: /home/dsc/data/TFM_EFAT/TFM_EFAT/solar_term_models_KNeighborsRegressor_MinMaxScaler.joblib
100%|██████████| 2.96M/2.96M [00:00<00:00, 11.0MB/s]
Downloading...
From: https://drive.google.com/uc?id=1Sp4Sl9vZ0p1j7yIvgxl1JxZC_dF3wVIb
To: /home/dsc/data/TFM_EFAT/TFM_EFAT/eolic_models_KNeighborsRegressor_MinMaxScaler.joblib
100%|██████████| 5.96M/5.96M [00:00<00:00, 15.5MB/s]
Downloading...
From: https://drive.google.com/uc?id=12NXRR5DcgxgCh2kQaV0AWWSpYOH76oJi
To: /home/dsc/data/TFM_EFAT/TFM_EFAT/hidro_models_KNeighborsRegressor_MinMaxScaler.joblib
100%|██████████| 5.96M/5.96M [00:00<00:00, 12.8MB/s]
Downloading...
From: https://drive.google.com/uc?id=1krPoisaeSqx8nCXFqyoqeN8F4XkJh4nd
To: /home/dsc/data/TFM_EFAT/TFM_EFAT/demand_models_KNeighborsRegressor_MinMaxScaler.joblib
100%|██████████| 7.68M/7.68M [00:00<00:00, 16.2MB/s]

#### 5.1 Solar fotovoltaica

In [77]:
pred_solarfotovoltaica.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 21 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   fecha                                          105 non-null    datetime64[ns]
 1   tmed                                           105 non-null    float64
 2   tmax                                           105 non-null    float64
 3   velmedia                                       105 non-null    float64
 4   sol                                            105 non-null    float64
 5   inst_Solar fotovoltaica                        105 non-null    float64
 6   comunidad_autonoma_ANDALUCIA                   105 non-null    float64
 7   comunidad_autonoma_ARAGON                      105 non-null    float64
 8   comunidad_autonoma_CANARIAS                    105 non-null    float64
 9   comunidad_autonoma_CASTILLA Y LEON             105 non-null    float64
 10  comunidad_autonoma_CASTILLA-LA MANCHA          105 non-null    float64
 11  comunidad_autonoma_CATALUNA                    105 non-null    float64
 12  comunidad_autonoma_COMUNIDAD DE MADRID         105 non-null    float64
 13  comunidad_autonoma_COMUNIDAD FORAL DE NAVARRA  105 non-null    float64
 14  comunidad_autonoma_COMUNITAT VALENCIANA        105 non-null    float64
 15  comunidad_autonoma_EXTREMADURA                 105 non-null    float64
 16  comunidad_autonoma_GALICIA                     105 non-null    float64
 17  comunidad_autonoma_ILLES BALEARS               105 non-null    float64
 18  comunidad_autonoma_LA RIOJA                    105 non-null    float64
 19  comunidad_autonoma_PAIS VASCO                  105 non-null    float64
 20  comunidad_autonoma_REGION DE MURCIA            105 non-null    float64
dtypes: datetime64[ns](1), float64(20)
memory usage: 17.4 KB

In [78]:
pred_solarfotovoltaica.head()

,fecha,tmed,tmax,velmedia,sol,inst_Solar fotovoltaica,comunidad_autonoma_ANDALUCIA,comunidad_autonoma_ARAGON,comunidad_autonoma_CANARIAS,comunidad_autonoma_CASTILLA Y LEON,...,comunidad_autonoma_CATALUNA,comunidad_autonoma_COMUNIDAD DE MADRID,comunidad_autonoma_COMUNIDAD FORAL DE NAVARRA,comunidad_autonoma_COMUNITAT VALENCIANA,comunidad_autonoma_EXTREMADURA,comunidad_autonoma_GALICIA,comunidad_autonoma_ILLES BALEARS,comunidad_autonoma_LA RIOJA,comunidad_autonoma_PAIS VASCO,comunidad_autonoma_REGION DE MURCIA
0,2023-10-10,23.125,29.333,6.161,4.333,4742.985,1.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1,2023-10-10,20.944,29.222,3.730,5.000,2295.652,0.000,1.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2,2023-10-10,29.333,34.000,7.024,4.500,225.800,0.000,0.000,1.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
3,2023-10-10,18.407,28.185,3.016,4.815,1684.023,0.000,0.000,0.000,1.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
4,2023-10-10,20.567,28.867,4.857,4.533,5614.176,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000

Let's bring back the scalers functions created in the other notebook.

In [79]:
def standarization_minmax_scaler (dataframe):

    dataframe_st = dataframe.copy()
    scaler = MinMaxScaler()
    #It allows to scale data to range (0,1)
    #We don't want to apply standarization to target value or categorical features as it may have an impact on the result:

    cols_to_standarize = [col for col in dataframe_st.columns if dataframe_st[col].dtype in ['int64', 'float64'] \
                        and col != ['generation','demand_ccaa'] \
                        and not col.startswith('comunidad')]

    for col in cols_to_standarize:
        dataframe_st[col] = scaler.fit_transform(dataframe_st[[col]])
    
    return dataframe_st

In [80]:
def standarization_standard_scaler (dataframe):

    dataframe_st = dataframe.copy()
    scaler = StandardScaler()
    #In order to standarize values of the dataframes and get better results in the model by removing the mean and scaling to unit variance.
    #We don't want to apply standarization to target value or categorical features as it may have an impact on the result:

    cols_to_standarize = [col for col in dataframe_st.columns if dataframe_st[col].dtype in ['int64', 'float64'] \
                          and col != ['generation','demand_ccaa', 'fecha'] \
                            and not col.startswith('comunidad')]

    for col in cols_to_standarize:
        dataframe_st[col] = scaler.fit_transform(dataframe_st[[col]])
    
    return dataframe_st

We have to scale values to have it the same way as we had trained model:

In [81]:
pred_solarfotovoltaica = standarization_minmax_scaler(pred_solarfotovoltaica)

Applying the best model for this technology:

In [82]:
def apply_model (df_prediction, model):
    dates= df_prediction['fecha']
    df_prediction = df_prediction.drop(columns = 'fecha')
    df_prediction['prediction'] = model.predict(df_prediction)
    df_prediction['fecha'] = dates

    return df_prediction

In [83]:
sf_predictions = apply_model(pred_solarfotovoltaica, model_solarfoto)

In [84]:
sf_predictions.head()

,tmed,tmax,velmedia,sol,inst_Solar fotovoltaica,comunidad_autonoma_ANDALUCIA,comunidad_autonoma_ARAGON,comunidad_autonoma_CANARIAS,comunidad_autonoma_CASTILLA Y LEON,comunidad_autonoma_CASTILLA-LA MANCHA,...,comunidad_autonoma_COMUNIDAD FORAL DE NAVARRA,comunidad_autonoma_COMUNITAT VALENCIANA,comunidad_autonoma_EXTREMADURA,comunidad_autonoma_GALICIA,comunidad_autonoma_ILLES BALEARS,comunidad_autonoma_LA RIOJA,comunidad_autonoma_PAIS VASCO,comunidad_autonoma_REGION DE MURCIA,prediction,fecha
0,0.608,0.745,0.183,0.867,0.844,1.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,15971.156,2023-10-10
1,0.470,0.739,0.111,1.000,0.407,0.000,1.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,9979.696,2023-10-10
2,1.000,1.000,0.208,0.900,0.037,0.000,0.000,1.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,722.805,2023-10-10
3,0.310,0.683,0.089,0.963,0.298,0.000,0.000,0.000,1.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,7012.368,2023-10-10
4,0.446,0.720,0.144,0.907,1.000,0.000,0.000,0.000,0.000,1.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,20803.270,2023-10-10

Here we have the predictions for the following days for solar photo energy:

In [85]:
sf_predictions.groupby('fecha')['prediction'].sum()

fecha
2023-10-10   88632.939
2023-10-11   90982.569
2023-10-12   83517.835
2023-10-13   77064.278
2023-10-14   64224.902
2023-10-15   36285.208
2023-10-16   35789.070
Name: prediction, dtype: float64

#### 5.2 Solar térmica

In [86]:
#We have to scale values to have it the same way as we had trained model:
pred_termica = standarization_minmax_scaler(pred_solartermica)

In [87]:
term_predictions = apply_model(pred_termica, model_solarterm)

Here we have the predictions for the following days for solar term energy:

In [88]:
term_predictions.groupby('fecha')['prediction'].sum()

fecha
2023-10-10   19771.479
2023-10-11   19297.372
2023-10-12   14507.071
2023-10-13   11048.890
2023-10-14    5725.139
2023-10-15    1100.243
2023-10-16    1640.450
Name: prediction, dtype: float64

#### 5.3 HIdráulica

In [89]:
#We have to scale values to have it the same way as we had trained model:
pred_hidraulica = standarization_minmax_scaler(pred_hidraulica)

In [90]:
hidro_predictions = apply_model(pred_hidraulica, model_hidro)

Here we have the predictions for the following days for hidraulic energy:

In [91]:
hidro_predictions.groupby('fecha')['prediction'].sum()

fecha
2023-10-10   131406.897
2023-10-11   130646.914
2023-10-12   123940.735
2023-10-13   126792.357
2023-10-14   160367.052
2023-10-15   154162.826
2023-10-16   149847.930
Name: prediction, dtype: float64

#### 5.4 Eollica

In [92]:
#We have to scale values to have it the same way as we had trained model:
pred_eolica = standarization_minmax_scaler(pred_eolica)

In [93]:
eolica_predictions = apply_model(pred_eolica, model_eolic)

Here we have the predictions for the following days for eolic energy:

In [94]:
eolica_predictions.groupby('fecha')['prediction'].sum()

fecha
2023-10-10   113876.864
2023-10-11   139338.835
2023-10-12   151187.587
2023-10-13   225163.055
2023-10-14   234583.358
2023-10-15   207369.394
2023-10-16   268231.030
Name: prediction, dtype: float64

#### 5.5 Demand

In [95]:
#We have to scale values to have it the same way as we had trained model:
pred_demand = standarization_minmax_scaler(pred_demand)

In [96]:
pred_demand.head()

,fecha,tmed,sol,Weekday,comunidad_autonoma_ANDALUCIA,comunidad_autonoma_ARAGON,comunidad_autonoma_CANARIAS,comunidad_autonoma_CANTABRIA,comunidad_autonoma_CASTILLA Y LEON,comunidad_autonoma_CASTILLA-LA MANCHA,...,comunidad_autonoma_COMUNIDAD FORAL DE NAVARRA,comunidad_autonoma_COMUNITAT VALENCIANA,comunidad_autonoma_EXTREMADURA,comunidad_autonoma_GALICIA,comunidad_autonoma_ILLES BALEARS,comunidad_autonoma_LA RIOJA,comunidad_autonoma_MELILLA,comunidad_autonoma_PAIS VASCO,comunidad_autonoma_PRINCIPADO DE ASTURIAS,comunidad_autonoma_REGION DE MURCIA
0,2023-10-10,0.608,0.867,1.000,1.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1,2023-10-10,0.470,1.000,1.000,0.000,1.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2,2023-10-10,1.000,0.900,1.000,0.000,0.000,1.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
3,2023-10-10,0.400,1.000,1.000,0.000,0.000,0.000,1.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
4,2023-10-10,0.310,0.963,1.000,0.000,0.000,0.000,0.000,1.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000

In [97]:
demand_predictions = apply_model(pred_demand, model_demand)

Here we have the predictions for the following days for demand energy:

In [98]:
demand_predictions.groupby('fecha')['prediction'].sum()

fecha
2023-10-10   730175.253
2023-10-11   713049.872
2023-10-12   734624.551
2023-10-13   741989.557
2023-10-14   667730.722
2023-10-15   682727.323
2023-10-16   789189.878
Name: prediction, dtype: float64

Now that we have clerar the picture, once we know how the data is structured and we can make estimations regarding the upcoming week renewable energy production, it is time to create something that not only a data scientist can understand but a final user. The APP in which anyone can see the predcitions of the model we are working with is done by streamlit and can be found on the folder 'APP' of the current repository. Hope the project has been useful and you enjoy the APP!