In [94]:
import pandas as pd
import numpy as np
import pandas as pd
import numpy as np
import requests as requests
import json
import urllib
from pandas import to_datetime
import seaborn as sns
import matplotlib.pyplot as plt
from unidecode import unidecode
import pandas as pd
import requests as requests
import json
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import StandardScaler
import time
import statistics
from sklearn.preprocessing import OneHotEncoder
from io import BytesIO
import zipfile
import tempfile
import os
import shutil
from io import StringIO
import gdown
from joblib import dump, load
from sklearn.linear_model import LinearRegression 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
import numpy as np
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import cross_val_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.compose import make_column_selector as selector
from sklearn.compose import ColumnTransformer

# EFAT MODEL PREDICTIONS

The purpose of this notebook is to donwload and prepare the real-time information from AEMET, REE & MITECO that we are using for predicting the renewable energetic generation in the following days. We are using some of the functionswe already prepared in Model&Conclusions notebook for transforming some of the key variables.

In [14]:
#Let's traduce these links into variables that we can use afterwards to download the data:

url_generation = 'https://drive.google.com/file/d/1CKWK6ikb_qLquuIpnUSTYtqmwRxX4N9J/view?usp=drive_lin'
url_generation_by_ccaa =  'https://drive.google.com/file/d/1Zhaf_jFYweVZ9iixT-Q5eB6_4RzXOewZ/view?usp=drive_link'
url_powerinstalled_by_ccaa = 'https://drive.google.com/file/d/1gAbVa52H5gXE2mSmAkKjnAyVCnmI88vW/view?usp=drive_link'
url_demand = 'https://drive.google.com/file/d/1f0VtPLUQtxXNr7M1YDWZtsiyecBy238P/view?usp=drive_link'
url_demand_by_ccaa = 'https://drive.google.com/file/d/1YGsqSUgKPtmJMe1Xch9A_C3rAMy0udSK/view?usp=drive_link'
url_weather_meta = 'https://drive.google.com/file/d/1l3bYxhw4XeGlEfsu1F4ptCqDWYl2a64x/view?usp=drive_link'
url_weather_data = 'https://drive.google.com/file/d/1FJ2dPeL-qrTYLALtEI_m4q3cP2M0oBYK/view?usp=drive_link'
url_embalses = 'https://docs.google.com/spreadsheets/d/1rcwa4zVO7rCHH6YjcH37rd5YA5wPUhFw/edit?usp=drive_link&ouid=104422625489291627517&rtpof=true&sd=true'
url_presas = 'https://drive.google.com/file/d/1Iyklyh-5QscQBEycehovyTqadiTZSZrI/view?usp=drive_link'
url_provincias = 'https://drive.google.com/file/d/1892NArUsU5bLbfsqLY1SoePvj5HpA9Tw/view?usp=drive_link'
url_map = 'https://drive.google.com/file/d/1G0YE63B11fjXXNvByeNDO99o0yvdY1uw/view?usp=drive_link'
url_municipios = 'https://drive.google.com/file/d/1cNopbkCfEljsabdkDtWpdzNRaMCf48qH/view?usp=drive_link'
url_estado_cielo = 'https://drive.google.com/file/d/1tv7PGRC6tF_R5zoeAfnkzcDb3NKYnXFd/view?usp=drive_link'

In [15]:
pd.set_option('display.float_format', '{:.3f}'.format) #In order to have the same format in the whole notebook

In [16]:
def drive_read_file(url):
    for retry in range(3):
        try:
            # Generate the Google Drive download URL
            download_url = 'https://drive.google.com/uc?id=' + url.split('/')[-2]
            
            # Download the file using gdown
            file_path = gdown.download(download_url, quiet=False)
            
            if file_path is not None:
                # Read the file directly into a pandas DataFrame
                df = pd.read_csv(file_path)
                
                # Delete the downloaded file
                os.remove(file_path)
                
                return df
            else:
                print("Download failed. Trying again...")
                time.sleep(5.0)  # Wait for another retry
        except Exception as e:
            print(f"Error {e}. Trying again...")
            time.sleep(5.0)  # Wait for another retry
    print("Unable to download. Please try again later.")
    return None

In [17]:
def pivot_table_generation_by_ccaa(generation_total_by_ccaa_file):
    """
    Transposing the category column 'type' into several columns with 'value_ccaa' as values.
    """

    #We create the pivot table: only with the columnd we are interested in:
    generation_total_by_ccaa_file =  generation_total_by_ccaa_file.pivot_table(index = ['fecha', 'comunidad_autonoma'],
                                                            columns = 'Type',
                                                            values = 'value_ccaa',
                                                            fill_value = 0).reset_index()
    

    #In order to remove 'Type' index column that has been inserted automatically with the pivot table:

    generation_total_by_ccaa_file = generation_total_by_ccaa_file.reset_index(drop = True)
    generation_total_by_ccaa_file.columns.name = None
    
    return generation_total_by_ccaa_file

In [18]:
def powerinstalled_CCAA_process(powerfile):

        """
        Dropping columns not needed, decoding text and transforming dates into a friendly format.
        Selecting the technologies we are using.
        """
        
        powerfile = powerfile.drop(columns = [col for col in powerfile.columns if col =='Unnamed: 0'])

        #As we have made for the generation_total file, we need the period to cross data instead of just 'month':

        powerfile['month'] = powerfile['month'].str[:10]
        powerfile['month'] = pd.to_datetime(powerfile['month'])

        #In order to cross with other files by community name:

        powerfile['comunidad_autonoma'] = powerfile['comunidad_autonoma'].apply(unidecode).str.upper()

        #Filter only the techs we want and drop 'todas' from comunidad autonoma

        technologies_to_use = ['Solar térmica','Hidráulica','Solar fotovoltaica','Eólica']
        powerfile = powerfile[powerfile['type'].isin(technologies_to_use)]
        powerfile = powerfile[powerfile['comunidad_autonoma'] != 'TODAS']

        #'type' column has to be renamed also:

        powerfile = powerfile.rename(columns={'type': 'Type',
                                              'value': 'value_ccaa',
                                              'month': 'fecha'})

        return powerfile

In [19]:
def weather_processing(weather_file):

    """
    Process weather_file:
    - Correctes some values in 'prec' that contain text when 'prec' is so low.
    - Converts into numeric the vairables that we are interested in.
    - Selects and group those variables by 'fecha'  and 'provincia'.
    """

    weather_file_processed = weather_file

    #Date to datetime:

    weather_file_processed['fecha'] = weather_file_processed['fecha'].apply(to_datetime)

    #In order to replace 'Ip' values in 'prec':

    weather_file_processed.loc[weather_file_processed['prec'] == 'Ip', 'prec'] = 0
    
   #Let's transform columns into numeric: 

    columns_to_transform = ['prec', 'velmedia', 'racha', 'tmed', 'tmin', 'tmax', 'sol']
    
    for column in columns_to_transform:
        weather_file_processed[column] = weather_file_processed[column].str.replace(',', '.')
        weather_file_processed[column] = weather_file_processed[column].apply(pd.to_numeric, errors = 'coerce')



    #Our analysis will be based on 'Provincia' info, therefore we need to have the information grouped by that column. We can simplify tis way also the dataframe:

    weather_file_processed = weather_file_processed.groupby(['fecha', 'provincia'], as_index=False).agg(
        {'tmed': 'mean',
         'prec': 'sum',
         'tmin': 'mean',
         'tmax': 'mean',
         'dir': 'mean',
         'velmedia': 'mean',
         'racha': 'mean',
         'sol': 'mean',}).round(3)

    #It is necessary also to already adjust some 'Provincia' names in order to avoid errors when matching the files afteerwards:

    weather_file_processed['provincia'] = weather_file_processed['provincia'].replace('VALENCIA','VALENCIA/VALENCIA')
    weather_file_processed['provincia'] = weather_file_processed['provincia'].replace('A CORUÑA','A CORUNA')
    weather_file_processed['provincia'] = weather_file_processed['provincia'].replace('ALICANTE','ALICANTE/ALACANT')
    weather_file_processed['provincia'] = weather_file_processed['provincia'].replace('CASTELLON','CASTELLON/CASTELLO')
    weather_file_processed['provincia'] = weather_file_processed['provincia'].replace('STA. CRUZ DE TENERIFE','SANTA CRUZ DE TENERIFE')

    #We exlude 2014 from the study:

    weather_file_processed = weather_file_processed[weather_file_processed['fecha'].dt.year != 2014]

    return weather_file_processed

In [20]:
#Specific functions are needed for these cases as the files are from a different source and come in a different format. xslx for 'embalses file' and csv with different separator for 'presas' masterdata:
def drive_read_xlsx_file(url):
    for retry in range(3):
        try:
            # Generate the Google Drive download URL
            download_url = 'https://drive.google.com/uc?id=' + url.split('/')[-2]
            
            # Download the file using gdown
            file_path = gdown.download(download_url, quiet=False)
            
            if file_path is not None:
                # Read the file directly into a pandas DataFrame
                df = pd.read_excel(file_path)
                
                # Delete the downloaded file
                os.remove(file_path)
                
                return df
            else:
                print("Download failed. Trying again...")
                time.sleep(5.0)  # Wait for another retry
        except Exception as e:
            print(f"Error {e}. Trying again...")
            time.sleep(5.0)  # Wait for another retry
    
    print("Unable to download and read the file. Please try again later.")
    return None

def drive_read_latin_encoding_file(url): #In order to download the files with the urls provided at the beginning of the notebook and that are uin xslsx format:

    for retry in range(3):
        try:

            # Generate the Google Drive download URL
            download_url = 'https://drive.google.com/uc?id=' + url.split('/')[-2]
            
            # Download the file using gdown
            file_path = gdown.download(download_url, quiet=False)

            if file_path is not None:
            
                # Read the file directly into a pandas DataFrame
                df = pd.read_csv(file_path, encoding = 'latin-1', sep = ';')
                
                # Delete the downloaded file
                os.remove(file_path)
                return df
            else:
                print("Download failed. Trying again...")
                time.sleep(5.0)  # Wait for another retry

        except Exception as e:
            print(f"Error {e}. Trying again...")
            time.sleep(5.0)  # Wait for another retry

    print("Unable to download and read the file. Please try again later.")
    return None

In [21]:
def embalses_elect (embalses_file, presas_file):

    """
    It processes two dataframes, one with the historical data of the water reservoirs in Spain and a second one with the masterdata of those dams. The result is a cleaner dataframe with the columns we need:
    - Select only the information of the dams that produce hidroelectric.
    - Modify variables into numeric format.
    - Decode text to have it the same way as other files in order to cross it.
    -Cross both files to have the information of each embalse and its status.
    - Group the dataframe by fecha and provinca to sum up the values so it can be crossed afterwards.
    - Adjust 'provincia' & 'fecha' fields.

    """

    #Firstly, we read the 'embalses' data and select only the year we want and to process 'Embalse Nombre' in order to match it with 'presas' file.
    #We only want the dams with the electricty flag marked
    
    embalses_elect = embalses_file.loc[embalses_file['ELECTRICO_FLAG'] == 1]
    embalses_elect['year'] = pd.DatetimeIndex(embalses_elect['FECHA']).year

    #In order to transform water KPIs into numeric
    str(embalses_elect['AGUA_TOTAL'])
    embalses_elect['AGUA_TOTAL'] = embalses_elect['AGUA_TOTAL'].str.replace(',' , '.')
    embalses_elect['AGUA_TOTAL'] = embalses_elect['AGUA_TOTAL'].apply(pd.to_numeric)
    str(embalses_elect['AGUA_ACTUAL'])
    embalses_elect['AGUA_ACTUAL'] = embalses_elect['AGUA_ACTUAL'].str.replace(',' , '.')
    embalses_elect['AGUA_ACTUAL'] = embalses_elect['AGUA_ACTUAL'].apply(pd.to_numeric)

    #In order to have the information of the year that we want and to get the name of the dam in the way to match it with 'presas' file

    embalses_elect = embalses_elect[embalses_elect['year'] != 2014]
    embalses_elect['EMBALSE_NOMBRE'] = embalses_elect['EMBALSE_NOMBRE'].apply(str.upper).apply(unidecode)

    #Now, we have to preprocess 'presas' data

    presas_file.rename({'Presa':'EMBALSE_NOMBRE'}, axis = 1, inplace = True)
    presas_file['EMBALSE_NOMBRE'] = presas_file['EMBALSE_NOMBRE'].apply(unidecode)

    #At last, the joint. It will be some dams not matched but are not relevant for our study:

    embalses_capacity = embalses_elect.merge(presas_file, on = 'EMBALSE_NOMBRE', how= 'inner')

    #In the end, we want the information aggregated by 'Provincia'. Therefore:

    embalses_capacity = embalses_capacity.groupby(by =['FECHA','Provincia'], as_index =False)[['AGUA_TOTAL', 'AGUA_ACTUAL']].sum().sort_values(by = 'FECHA', ignore_index = True)

    #We are also changing here the name 'Coruña, A' in this function as it is necessary to cross it with other files:

    embalses_capacity['Provincia'] = embalses_capacity['Provincia'].replace('Coruña, A' ,'A Coruña')

    #In order to have'Provincias' and 'FECHA' in the same form as the other files:

    embalses_capacity = embalses_capacity.rename(columns = {'Provincia': 'provincia', 'FECHA': 'fecha'})
    embalses_capacity['provincia'] = embalses_capacity['provincia'].apply(unidecode).str.upper()
    
    return embalses_capacity

In [22]:
def cod_provincias(cod_provincias_df):

    """
    In order to transform codprovincias dataframe so it can be crossmatched with other files, we haver several things to adapt in columns format:
    """

    cod_provincias_df.rename(columns = {'Provincia': 'provincia'},inplace= True)
    cod_provincias_df['provincia'] = cod_provincias_df['provincia'].apply(unidecode).str.upper()
    cod_provincias_df['Comunidad Autónoma'] = cod_provincias_df['Comunidad Autónoma'].apply(unidecode).str.upper()
    cod_provincias_df = cod_provincias_df.rename(columns = {'Comunidad Autónoma':'comunidad_autonoma'})
    return cod_provincias_df

In [23]:
cod_provincias_file = drive_read_latin_encoding_file(url_provincias)

Downloading...
From: https://drive.google.com/uc?id=1892NArUsU5bLbfsqLY1SoePvj5HpA9Tw
To: /home/dsc/data/TFM_EFAT/TFM_EFAT/CodProvincias.csv
100%|██████████| 1.52k/1.52k [00:00<00:00, 675kB/s]

In [24]:
codprovincias = cod_provincias(cod_provincias_file)

In [25]:
def codificar_sol(weather_file):
    #Based on the visualization of the data and the understaindg that we are talking about hours of sun (higher in summer, but high anyhow from 8 onwards):
    bins =    [0, 2.25, 4.50, 6.75, 9.00, 15.00]
    weather_file['sol_new'] = pd.cut(weather_file['sol'], bins = bins, labels = [1, 2, 3, 4, 5])
    weather_file = weather_file.drop(columns = 'sol', axis = 1)
    weather_file = weather_file.rename(columns = {'sol_new':'sol'})
    #We want it to be in numerical format
    weather_file['sol'] = weather_file['sol'].astype('float64')
    #It will return some NA valyes due to not be a closed intervals in btoh sides.    
    return weather_file

In [26]:
def REE_ccaa_rename(dataframe):
    dataframe['comunidad_autonoma'] = dataframe['comunidad_autonoma'].replace({'CASTILLA- LA MANCHA': 'CASTILLA-LA MANCHA',
                                                                                          'COMUNIDAD DE NAVARRA': 'COMUNIDAD FORAL DE NAVARRA',
                                                                                          'COMUNIDAD MELILLA':'MELILLA',
                                                                                          'COMUNIDAD VALENCIANA': 'COMUNITAT VALENCIANA',
                                                                                          'ISLAS BALEARES': 'ILLES BALEARS',
                                                                                          'ISLAS CANARIAS': 'CANARIAS',
                                                                                          })
    return dataframe

In [27]:
def onehotencoder_ccaa (dataframe):

    dataframe_enc = dataframe.copy()
    enc = OneHotEncoder() 
    encoded_feature = enc.fit_transform(dataframe_enc[['comunidad_autonoma']]).toarray() #it only works with arrays
    df_feature = pd.DataFrame(encoded_feature, columns = enc.get_feature_names_out(['comunidad_autonoma']))
    dataframe_enc = dataframe_enc.drop('comunidad_autonoma', axis = 1)
    dataframe_enc = dataframe_enc.reset_index(drop=True)
    df_encoded = pd.concat([dataframe_enc, df_feature], axis = 1)
    return df_encoded

## 3. Data to predict

Until now we have been working with weather, energetic production, demand etc. historical data. The models to predict each techonology and the demand have been already prepared and trained. It is time now to predict the renewable energetic production based on weather forecast for the upcoming days, which is the main purpose of the project. In order to do this, first of all we have to download the forecast information and process it to have similar dataframes to what we already have for train data. The process is going to be similar to the preprocess we have done before, but the data is going to be directly downloaded from AEMET and MITECO.

Some of the functions included in this part were already developed on 'EFAT_newData' notebook. \
AEMET does not allow to download from their API directly an estimation similar to what we have seen. The data is provided by 'municipio' and it can be downloaded only one by one. To download all the information for all 'municipios' in Spain can be very expensive in terms of time and computational consumptions. Therefopre we are downloading only a representative portion of 'municipios' of each province and making the mean aftwerwards.
Also, the information is not provided as easily or as clear as we had for the historical data and it needs to be processed, firstly when downloading it from AEMET and afterwards over the dataframe we have used for collecting the data.

Firstly, we are downloading from AEMET two dataframes: the 'municipios' masterdata and the weather forecast for the next 7 days for several 'muncipios'.

### 3.1 AEMET Predictions

In [28]:
def aemet_municipios(): # -> in order to get masterdata from AEMET API

    #AEMET API does not allow to extract predictions for all Municipios all the same time, therefore we firstly have to download the masterdata:

    url = f"https://opendata.aemet.es/opendata/api/maestro/municipios"

    #We need an API key that can be obtained from AEMET easily
    
    query = {"api_key":"eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJqYXZpZXIuZXNjYWxvbmlsbGFAaG90bWFpbC5jb20iLCJqdGkiOiJlNzgyMjg0Yy05YjI0LTQ5ZDktOWMwMS1kYjRlZjQwNjkxNDIiLCJpc3MiOiJBRU1FVCIsImlhdCI6MTY4MTE0MTIyNCwidXNlcklkIjoiZTc4MjI4NGMtOWIyNC00OWQ5LTljMDEtZGI0ZWY0MDY5MTQyIiwicm9sZSI6IiJ9.3flzKWh31FkeRBFex1xc4nIwEaQE1QPXoCpeicIluQU"}

    #We create an empty dataframe with the columns that will be appended

    aemet_municipios_total = pd.DataFrame(columns = ['latitud', 'id_old', 'url', 'latitud_dec', 'altitud', 'capital',
        'num_hab', 'zona_comarcal', 'destacada', 'nombre', 'longitud_dec', 'id',
        'longitud'])
    
    for retry in range(3):
        try:
    
            response = requests.request("GET", url,  params = query)

            if response.status_code == 200:

                aemet_municipios = response.json()

                #The response is a list of dicts, in which each dict is one municipio:

                for item in aemet_municipios:

                    municipio = pd.DataFrame(item, index= [0])
                    aemet_municipios_total = pd.concat([aemet_municipios_total, municipio])
                aemet_municipios_total.reset_index()

                return aemet_municipios_total
        
            else:
                print("Server error. Trying again...")
                time.sleep(5.0)  # Wait for another retry
        except Exception as e:
            print(f"Error {e}. Trying again...")
            time.sleep(5.0)  # Wait for another retry
    return None

In [29]:
#We did already save it in the drive folder, so this info we can get it from there
#md_municipios = drive_read_file(url_municipios)

In [30]:
municipios_md = aemet_municipios()

In [31]:
municipios_md.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8122 entries, 0 to 0
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   latitud        8122 non-null   object
 1   id_old         8114 non-null   object
 2   url            8122 non-null   object
 3   latitud_dec    8122 non-null   object
 4   altitud        8122 non-null   object
 5   capital        8122 non-null   object
 6   num_hab        8122 non-null   object
 7   zona_comarcal  8122 non-null   object
 8   destacada      8122 non-null   object
 9   nombre         8122 non-null   object
 10  longitud_dec   8122 non-null   object
 11  id             8122 non-null   object
 12  longitud       8122 non-null   object
dtypes: object(13)
memory usage: 888.3+ KB

In [32]:
municipios_md.head()

,latitud,id_old,url,latitud_dec,altitud,capital,num_hab,zona_comarcal,destacada,nombre,longitud_dec,id,longitud
0,"40º32'54.450744""",44004,ababuj-id44001,40.54845854,1372,Ababuj,65,624401,0,Ababuj,-0.80780117,id44001,"-0º48'28.084212"""
0,"40º54'58.824504""",40004,abades-id40001,40.91634014,971,Abades,873,674001,0,Abades,-4.26787389,id40001,"-4º16'4.346004"""
0,"43º8'51.525564""",48010,abadino-abadino-zelaieta-id48001,43.14764599,144,Abadiño-Zelaieta,7504,754802,0,Abadiño,-2.60687319,id48001,"-2º36'24.743484"""
0,"40º15'34.315272""",10004,abadia-id10001,40.25953202,451,Abadía,324,701001,0,Abadía,-5.97785806,id10001,"-5º58'40.289016"""
0,"43º21'46.874736""",27010,abadin-abadin-o-provecende-id27001,43.36302076,515,Abadín o Provecende,2646,712702,0,Abadín,-7.47214495,id27001,"-7º28'19.72182"""

In [33]:
def sort_municipios(municipios_df):
    
    #Select some samples (4) for every province based on nº inhabitants:
    #Firstly, we want to extract 'province id' from the id for each municipio:
    
    municipios_df['prov_id'] = municipios_df['id'].str[2:4]

    #Transform nª inhabitants for sorting
    municipios_df['num_hab'] = pd.to_numeric(municipios_df['num_hab'])

    # Sort the entire dataframe by 'prov_id' and 'num_hab'
    municipios_ranked = municipios_df.sort_values(by=['prov_id', 'num_hab'], ascending=[True, False])

    # Group by 'prov_id' and pick top 5 for each group
    top_municipios = municipios_ranked.groupby('prov_id').head(3)

    # Reset index for the final dataframe
    top_municipios = top_municipios.reset_index(drop=True)

    #Sort again the dataframe to have one per province in the first rowa:

    top_municipios = top_municipios.sort_values(by=['prov_id', 'num_hab'], ascending = [True, False])

    return top_municipios

In [34]:
df_municipios = sort_municipios(municipios_md)

In [35]:
df_municipios.head()

,latitud,id_old,url,latitud_dec,altitud,capital,num_hab,zona_comarcal,destacada,nombre,longitud_dec,id,longitud,prov_id
0,"42º51'2.116404""",01001,vitoria-gasteiz-id01059,42.85058789,539,Vitoria-Gasteiz,242082,750102,1,Vitoria-Gasteiz,-2.67275685,id01059,"-2º40'21.92466""",01
1,"43º8'33.06768""",01340,laudio-llodio-id01036,43.14251880,123,Laudio/Llodio,18428,750101,1,Laudio/Llodio,-2.96256495,id01036,"-2º57'45.23382""",01
2,"43º3'15.399936""",01020,amurrio-id01002,43.05427776,219,Amurrio,10239,750101,1,Amurrio,-3.00007326,id01002,"-3º0'0.263736""",01
3,"38º59'45.169908""",02001,albacete-id02003,38.99588053,681,Albacete,172487,680201,1,Albacete,-1.85574745,id02003,"-1º51'20.69082""",02
4,"38º30'43.882308""",02360,hellin-id02037,38.51218953,570,Hellín,30862,680203,1,Hellín,-1.70344921,id02037,"-1º42'12.417156""",02

In [36]:
def aemet_municipios_predictions(municipios): # -> in order to get predictions for next seven days from AEMET API

    #We are going to extract the predictions of a sample of municipios for each province in Spain

    municipios_id = list(municipios['id'])

    #We create a dataframe that will be appended

    df_prediction = pd.DataFrame(columns= ['id_municipio', 'nombre', 'provincia', 'fecha', 'tmax', 'tmin', 'estado_cielo', 'viento', 'racha'])

    #Now we create a loop in order to access to all the required information for each municipio:


    for municipio in municipios_id:
        
        #In order to avoid blocking AEMET servers:

        time.sleep(0.5)

        #We only need municipio ID:

        municipio = municipio[2:]

        url = f"https://opendata.aemet.es/opendata/api/prediccion/especifica/municipio/diaria/{municipio}"

        #We need an API key that can be obtained from AEMET easily

        query = {"api_key":"eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJqYXZpZXIuZXNjYWxvbmlsbGFAaG90bWFpbC5jb20iLCJqdGkiOiJlNzgyMjg0Yy05YjI0LTQ5ZDktOWMwMS1kYjRlZjQwNjkxNDIiLCJpc3MiOiJBRU1FVCIsImlhdCI6MTY4MTE0MTIyNCwidXNlcklkIjoiZTc4MjI4NGMtOWIyNC00OWQ5LTljMDEtZGI0ZWY0MDY5MTQyIiwicm9sZSI6IiJ9.3flzKWh31FkeRBFex1xc4nIwEaQE1QPXoCpeicIluQU"}

        response = requests.request("GET", url,  params = query, timeout = 500)

        
        if response.status_code != 200:

            #We have another API key if the main one fails. We repeat the same procedure:

            time.sleep(0.5)

            query = {"api_key": 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJsYWZ1bGFmdWVudGVAZ21haWwuY29tIiwianRpIjoiNGZlY2Y3MzMtYTY3Yy00M2ZmLTgxODMtZTM1N2Q0ODc0YzM5IiwiaXNzIjoiQUVNRVQiLCJpYXQiOjE2ODg1MTM0MjksInVzZXJJZCI6IjRmZWNmNzMzLWE2N2MtNDNmZi04MTgzLWUzNTdkNDg3NGMzOSIsInJvbGUiOiIifQ.WCoq7p6RyV6thyXkkzUmgg27jt2AsJBK3uVTrv2uBcI'}

            response = requests.request("GET", url,  params = query, timeout = 500)

            if response.status_code != 200:
                raise ValueError('API Request not succesfull')

            predictions = response.json()['datos']

            predictions = urllib.request.urlopen(predictions)
            predictions = json.loads(predictions.read().decode('latin-1'))

            #As usual, json file provides the information in many dictionaries, lists etc. and it is not easy to process it:
        
            for item in predictions:
                item_id = item['id']
                nombre = item['nombre']
                provincia = item['provincia']
                prediccion = item['prediccion']
                prediccion = prediccion['dia']
                for day in prediccion:
                    fecha = day['fecha']

                    #For get the temperature(max & min):

                    temp = day['temperatura']
                    tmax = temp['maxima']
                    tmin = temp['minima']

                    #In order to access to isolation information. We will map the information afterwards

                    estado_del_cielo = []
                    for data in day['estadoCielo']:

                        if data['value'] == '':
                            pass
                        else:
                            estado_id = data['value']
                            estado_del_cielo.append(estado_id)

                    #Wind information

                    velocidad_viento = []
                    for data in day['viento']:
                        
                        velocidad = float(data['velocidad'])
                        velocidad_viento.append(velocidad)

                    racha_viento = []
                    for data in day['rachaMax']:

                        if data['value'] == '':
                            pass
                        else:
                            rachamax = float(data['value'])
                            racha_viento.append(rachamax)
                    
                    #Now the dataframe is created:

                    estado_cielo = statistics.mode(estado_del_cielo)
                    viento = statistics.mean(velocidad_viento)
                    if len(racha_viento) == 0: #In order to avoid making the mean with '0' values that are errors:
                        racha = None
                    else:
                        racha = statistics.mean(racha_viento)
                        
                    datadict = {'id_municipio': item_id, 'nombre': nombre, 'provincia':provincia, 'fecha': fecha, 'tmax': tmax, 'tmin':tmin, 'Icon_code' : estado_cielo, 'viento': viento, 'racha' :racha}
                    total_prediction = pd.DataFrame(datadict, index = [0])
                    df_prediction = pd.concat([df_prediction, total_prediction])
            
            
                

        else:
            predictions = response.json()['datos']
            
            predictions = urllib.request.urlopen(predictions)
            predictions = json.loads(predictions.read().decode('latin-1'))

            #As usual, json file provides the information in many dictionaries, lists etc. and it is not easy to process it:
        
            for item in predictions:
                item_id = item['id']
                nombre = item['nombre']
                provincia = item['provincia']
                prediccion = item['prediccion']
                prediccion = prediccion['dia']
                for day in prediccion:
                    fecha = day['fecha']

                    #For get the temperature(max & min):

                    temp = day['temperatura']
                    tmax = temp['maxima']
                    tmin = temp['minima']

                    #In order to access to isolation information. We will map the information afterwards

                    estado_del_cielo = []
                    for data in day['estadoCielo']:

                        if data['value'] == '':
                            pass
                        else:
                            estado_id = data['value']
                            estado_del_cielo.append(estado_id)

                    #Wind information

                    velocidad_viento = []
                    for data in day['viento']:
                        
                        velocidad = float(data['velocidad'])
                        velocidad_viento.append(velocidad)

                    racha_viento = []
                    for data in day['rachaMax']:

                        if data['value'] == '':
                            pass
                        else:
                            rachamax = float(data['value'])
                            racha_viento.append(rachamax)
                    
                    #Now the dataframe is created:

                    estado_cielo = statistics.mode(estado_del_cielo)
                    viento = statistics.mean(velocidad_viento)
                    if len(racha_viento) == 0: #In order to avoid making the mean with '0' values
                        racha = None
                    else:
                        racha = statistics.mean(racha_viento)
                    datadict = {'id_municipio': item_id, 'nombre': nombre, 'provincia':provincia, 'fecha': fecha, 'tmax': tmax, 'tmin':tmin, 'Icon_code' : estado_cielo, 'viento': viento, 'racha' :racha}
                    total_prediction = pd.DataFrame(datadict, index = [0])
                    df_prediction = pd.concat([df_prediction, total_prediction])
    
                            


    return df_prediction

In [37]:
#Download of the predictions for the next seven days:

df_prediction = aemet_municipios_predictions(df_municipios)

In [38]:
#Lets' take a look at the information we have downloaded
df_prediction.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1064 entries, 0 to 0
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id_municipio  1064 non-null   object
 1   nombre        1064 non-null   object
 2   provincia     1064 non-null   object
 3   fecha         1064 non-null   object
 4   tmax          1064 non-null   object
 5   tmin          1064 non-null   object
 6   estado_cielo  0 non-null      object
 7   viento        1064 non-null   float64
 8   racha         47 non-null     float64
 9   Icon_code     1064 non-null   object
dtypes: float64(2), object(8)
memory usage: 91.4+ KB

In [39]:
df_prediction.head()

,id_municipio,nombre,provincia,fecha,tmax,tmin,estado_cielo,viento,racha,Icon_code
0,1059,Vitoria-Gasteiz,Araba/Álava,2023-10-01T00:00:00,35,13,NaN,2.143,NaN,12
0,1059,Vitoria-Gasteiz,Araba/Álava,2023-10-02T00:00:00,33,14,NaN,12.143,NaN,12
0,1059,Vitoria-Gasteiz,Araba/Álava,2023-10-03T00:00:00,25,14,NaN,15.000,NaN,45
0,1059,Vitoria-Gasteiz,Araba/Álava,2023-10-04T00:00:00,25,12,NaN,10.000,NaN,13
0,1059,Vitoria-Gasteiz,Araba/Álava,2023-10-05T00:00:00,31,13,NaN,10.000,NaN,12

The information related to isolation is not povided the same way it was when downloading historical data. Actually, AEMET only provides the 'status of the sky' indicator, which is not really clear. We  have created a file with the mapping of AEMET and we have made a ''codifiacion_sol'' column as we made for historical data, in order to have the same mapping in both dataframes. It is uploaded on google drivem we can read it directly from there:

In [40]:
def drive_read_file_othersep(url): #In order to download the files with the urls provided at the beginning of the notebook:

    #In order to download data and to assign it to a variable:
    file = 'https://drive.google.com/uc?id=' + url.split('/')[-2]
    df = pd.read_csv(file, sep = ';')
    return df

In [41]:
#We have obtained from AEMET the list of the codes related to sky_status so we can cross it with our files:
st_sun = drive_read_file_othersep(url_estado_cielo)
st_sun.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Icon_code     62 non-null     object
 1   estado_cielo  62 non-null     object
 2   cod_sol       62 non-null     int64
dtypes: int64(1), object(2)
memory usage: 1.6+ KB

In [42]:
st_sun.head()

  Icon_code         estado_cielo  cod_sol
0        11           Despejado         5
1        12         Poco nuboso         4
2        13  Intervalos nubosos         4
3        14              Nuboso         2
4        15          Muy nuboso         0

In [43]:
#We are using this file to recode isolation information from AEMET predictions the same way we did before. Otherwise AEMET prediction would be as follows:
st_sun['estado_cielo'].unique()

array(['Despejado ', 'Poco nuboso ', 'Intervalos nubosos ', 'Nuboso ',
       'Muy nuboso ', 'Cubierto ', 'Nubes altas ',
       'Intervalos nubosos con lluvia ', 'Nuboso con lluvia ',
       'Muy nuboso con lluvia ', 'Cubierto con lluvia ',
       'Intervalos nubosos con nieve ', 'Nuboso con nieve ',
       'Muy nuboso con nieve ', 'Cubierto con nieve ',
       'Intervalos nubosos con lluvia escasa ',
       'Nuboso con lluvia escasa ', 'Muy nuboso con lluvia escasa ',
       'Cubierto con lluvia escasa ', 'Cubierto con tormenta ',
       'Intervalos nubosos con tormenta y lluvia escasa ',
       'Intervalos Nubosos con Tormenta',
       'Nuboso con tormenta y lluvia escasa ',
       'Muy nuboso con tormenta y lluvia escasa ',
       'Cubierto con tormenta y lluvia escasa ',
       'Intervalos nubosos con nieve escasa ', 'Nuboso con nieve escasa ',
       'Muy nuboso con nieve escasa ', 'Cubierto con nieve escasa ',
       'Nuboso  ', 'Muy nuboso  ', 'Nubes altas  ', 'Nuboso con lluvia  ',
       'Muy nuboso con lluvia  ', 'Cubierto con lluvia  ',
       'Intervalos nubosos con nieve  ', 'Nuboso con nieve  ',
       'Muy nuboso con nieve  ', 'Intervalos nubosos con lluvia escasa  ',
       'Muy nuboso con lluvia escasa  ', 'Cubierto con lluvia escasa  ',
       'Intervalos nubosos con tormenta', 'Nuboso con tormenta',
       'Muy nuboso con tormenta', 'Cubierto con tormenta  ',
       'Nuboso con tormenta y lluvia escasa  '], dtype=object)

In [44]:
#Now we have the file complete in which is related to sun

df_prediction = pd.merge(df_prediction, st_sun, how = 'left', on = 'Icon_code')

In [45]:
df_prediction.head()

,id_municipio,nombre,provincia,fecha,tmax,tmin,estado_cielo_x,viento,racha,Icon_code,estado_cielo_y,cod_sol
0,1059,Vitoria-Gasteiz,Araba/Álava,2023-10-01T00:00:00,35,13,NaN,2.143,NaN,12,Poco nuboso,4.000
1,1059,Vitoria-Gasteiz,Araba/Álava,2023-10-02T00:00:00,33,14,NaN,12.143,NaN,12,Poco nuboso,4.000
2,1059,Vitoria-Gasteiz,Araba/Álava,2023-10-03T00:00:00,25,14,NaN,15.000,NaN,45,Muy nuboso con lluvia escasa,0.000
3,1059,Vitoria-Gasteiz,Araba/Álava,2023-10-04T00:00:00,25,12,NaN,10.000,NaN,13,Intervalos nubosos,4.000
4,1059,Vitoria-Gasteiz,Araba/Álava,2023-10-05T00:00:00,31,13,NaN,10.000,NaN,12,Poco nuboso,4.000

In [46]:
df_prediction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1064 entries, 0 to 1063
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_municipio    1064 non-null   object
 1   nombre          1064 non-null   object
 2   provincia       1064 non-null   object
 3   fecha           1064 non-null   object
 4   tmax            1064 non-null   object
 5   tmin            1064 non-null   object
 6   estado_cielo_x  0 non-null      object
 7   viento          1064 non-null   float64
 8   racha           47 non-null     float64
 9   Icon_code       1064 non-null   object
 10  estado_cielo_y  1062 non-null   object
 11  cod_sol         1062 non-null   float64
dtypes: float64(3), object(9)
memory usage: 99.9+ KB

We are going to need to make some changes on the df if we want to apply the models we have prepared.

In [47]:
def process_df_predictions(prediction_df, codprovincias_file):
        #We need some replacements in 'provincias' in order to match it with the other files:

        prediction_df['provincia'] = prediction_df['provincia'].replace('València/Valencia','Valencia/València')
        prediction_df['provincia'] = prediction_df['provincia'].replace('Illes Balears (Mallorca)','Illes Balears')
        prediction_df['provincia'] = prediction_df['provincia'].replace('Las Palmas (Gran Canaria)','Las Palmas')
        prediction_df['provincia'] = prediction_df['provincia'].replace('Santa Cruz de Tenerife (Tenerife)','Santa Cruz de Tenerife')
        prediction_df['provincia'] = prediction_df['provincia'].replace('Alacant/Alicante','Alicante/Alacant')
        prediction_df['provincia'] = prediction_df['provincia'].replace('Castelló/Castellón','Castellón/Castelló')

        prediction_df['provincia'] = prediction_df['provincia'].apply(unidecode).str.upper()

        #We are creating also the 'tmed' categoory so we can cross it with training data:

        prediction_df['tmed'] = (prediction_df['tmax'] + prediction_df['tmin']) / 2

        #Let's rename also 'viento' to 'velmedia' and 'cod_sol' to 'sol' so we can cross it:

        prediction_df = prediction_df.rename(columns= {'viento': 'velmedia',
                                                       'cod_sol': 'sol'})
        
        #Icon_code can be droppe:

        prediction_df = prediction_df.drop(columns = 'estado_cielo_x')

        #We cross it with provincias file:

        prediction_df = pd.merge(prediction_df, codprovincias_file, how = 'left', on= 'provincia')

        prediction_df = prediction_df.groupby(['fecha', 'comunidad_autonoma'],as_index=False).agg(
        {'tmed': 'mean',
         'tmin': 'mean',
         'tmax': 'mean',
         'velmedia': 'mean',
         'racha': 'mean',
         'sol': 'mean',})
        
        cols_to_convert = ['tmed', 'tmin', 'tmax', 'velmedia', 'racha', 'sol']
        prediction_df[cols_to_convert] = prediction_df[cols_to_convert].astype('float64').round(3)

        return prediction_df

In [48]:
df_prediction_map = process_df_predictions(df_prediction, codprovincias)

#In order to check if the match is correct:

df_prediction_na = df_prediction_map[df_prediction_map['comunidad_autonoma'].isna()]
df_prediction_na['comunidad_autonoma'].unique()

array([], dtype=object)

In [49]:
df_prediction_map.head()

,fecha,comunidad_autonoma,tmed,tmin,tmax,velmedia,racha,sol
0,2023-10-01T00:00:00,ANDALUCIA,25.583,18.250,32.917,6.458,40.000,4.500
1,2023-10-01T00:00:00,ARAGON,24.500,15.556,33.444,4.524,NaN,3.667
2,2023-10-01T00:00:00,CANARIAS,26.333,22.000,30.667,7.738,35.000,4.000
3,2023-10-01T00:00:00,CANTABRIA,22.000,17.333,26.667,4.048,NaN,4.333
4,2023-10-01T00:00:00,CASTILLA Y LEON,22.296,12.259,32.333,4.497,NaN,4.815

In [50]:
df_prediction_map.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133 entries, 0 to 132
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   fecha               133 non-null    object
 1   comunidad_autonoma  133 non-null    object
 2   tmed                133 non-null    float64
 3   tmin                133 non-null    float64
 4   tmax                133 non-null    float64
 5   velmedia            133 non-null    float64
 6   racha               28 non-null     float64
 7   sol                 133 non-null    float64
dtypes: float64(6), object(2)
memory usage: 8.4+ KB

### 3.2 MITECO Resservoir latest data

For reservoir information we are using the same file that we have used for the historical data as it is updated every week -theorically-. The idea then is to extract from the file only the latest information available and - as it is not expected to change that much in a week- apply that figure for the whole weeek for each 'provincia'. The detail of the steps we are using in the function below can be found on 'EFAT_newData' notebook. Here we are directly using the function we created to get the information we need and megre it with the AEMET weather file.

In [1]:
#Let's download the data from the shared Google Drive folder:

embalses_file = drive_read_xlsx_file(url_embalses)

presas_file = drive_read_latin_encoding_file(url_presas)

FileNotFoundError: [Errno 2] No such file or directory: './Data/Hidro/T_Embalses_2014_2023.xlsx'

In [ ]:
embalses_2023 = embalses_select_year(embalses_file, presas_file, 2023)

In [52]:
def embalses_latest_data(embalses_file): #In order to prepare the information to insert it into the trained model.

    #We only need information accumulated by 'Provincia' and 'FECHA':

    embalses_file = (
        embalses_file.groupby(
        by =['FECHA','Provincia'], as_index =False)[['AGUA_TOTAL', 'AGUA_ACTUAL']]
        .sum()
    )
    #For the new data analysis we will use always the ,latest information available on the file:
    embalses_last_date = embalses_file['FECHA'].max()
    embalses_file = embalses_file[embalses_file['FECHA'] == embalses_last_date].reset_index(drop = True)

    #We need to modify some 'Provincia' names:
    embalses_file['Provincia'] = embalses_file['Provincia'].replace('Coruña, A' ,'A Coruña')

    #We drop now 'FECHA' column as it is not necessary anymore
    embalses_file = embalses_file.drop(columns = ['FECHA'])

    #In order to have'Provincias' in the same form as the other files:

    embalses_file = embalses_file.rename(columns = {'Provincia': 'provincia'})
    embalses_file['provincia'] = embalses_file['provincia'].apply(unidecode).str.upper()

    #We have to merge it with codprovincias to get the 'comunidad_autonom' columns
    embalses_file = pd.merge(embalses_file, codprovincias, on = 'provincia', how = 'left')

    #Groupping by CCAA so we have the info the same way as the other files:
    embalses_file = embalses_file.groupby('comunidad_autonoma', as_index = False)[['AGUA_TOTAL','AGUA_ACTUAL']].sum().round(3)

    return embalses_file

In [53]:
embalses_new_data = embalses_latest_data(embalses_2023)

In [54]:
embalses_new_data.head()

   comunidad_autonoma  AGUA_TOTAL  AGUA_ACTUAL
0           ANDALUCIA      65.000       33.000
1              ARAGON    2392.000     1169.000
2           CANTABRIA      12.000        8.000
3     CASTILLA Y LEON    5083.000     3292.000
4  CASTILLA-LA MANCHA     201.000      158.000

In [55]:

print(embalses_new_data['comunidad_autonoma'].isna().sum())

0

In [56]:
embalses_new_data.head()

   comunidad_autonoma  AGUA_TOTAL  AGUA_ACTUAL
0           ANDALUCIA      65.000       33.000
1              ARAGON    2392.000     1169.000
2           CANTABRIA      12.000        8.000
3     CASTILLA Y LEON    5083.000     3292.000
4  CASTILLA-LA MANCHA     201.000      158.000

### 4.3 PowerInstalled latest info

In order to have the latest information possible related to the power installed in Spain for each technolgoy, as it is an important variable that we are including in our models. We will use the latest information available on REE.

In [57]:
def data_REE_potencia_instalada(yearini, yearend): # -> REE API Only allows to extract data in a yearly range as much, in monthly basis


    #First we get the response from REE (It only allow us to see one year each time). We will create an empty list that will be appended

    years = range(yearini,yearend + 1)
    all_data = []

    for year in years:

        #First we get the response from REE (It only allow us to see one year each time)

        response = requests.get(f"https://apidatos.ree.es/es/datos/generacion/potencia-instalada?start_date={year}-01-01T00:00&end_date={year}-12-31T23:59&time_trunc=day&all_ccaa=allCcaa")
        
        #Data comes in a json with dictionaries inside. To access to the data we have to proccess it a little bit with json and dictionary methods.

        pinstalled = response.json()['included']

        for ccaa in pinstalled:

            cc_aa = ccaa['community_name']
            
            #We create a for loop in order to access to all data in the dicionary and to get the complete list for all the energetic resources
            
            for item in ccaa['content']:

                techonology = item['type']
        
                for element in item['attributes']['values']:
                    
                    value = element['value']
                    month = element['datetime']
                    all_data.append({
                        'comunidad_autonoma': cc_aa,
                        'type': techonology,
                        'month': month,
                        'value': value
                    })
            time.sleep(3.0)
    data_consolidated = pd.DataFrame(all_data)
    
    return data_consolidated

In [58]:
power_new = data_REE_potencia_instalada(2023, 2023) #TO get the information of current year

In [59]:
power_new.head()

  comunidad_autonoma        type                          month   value
0          Andalucía  Hidráulica  2023-01-01T00:00:00.000+01:00 623.288
1          Andalucía  Hidráulica  2023-02-01T00:00:00.000+01:00 623.288
2          Andalucía  Hidráulica  2023-03-01T00:00:00.000+01:00 623.288
3          Andalucía  Hidráulica  2023-04-01T00:00:00.000+02:00 623.288
4          Andalucía  Hidráulica  2023-05-01T00:00:00.000+02:00 623.288

In [60]:
power_new['comunidad_autonoma'].unique()

array(['Andalucía', 'Aragón', 'Principado de Asturias', 'Cantabria',
       'Castilla- La Mancha', 'Castilla y León', 'Cataluña',
       'Comunidad Ceuta', 'Comunidad de Madrid', 'Comunidad Valenciana',
       'Extremadura', 'Galicia', 'Islas Baleares', 'Islas Canarias',
       'La Rioja', 'Comunidad Melilla', 'Región de Murcia',
       'Comunidad de Navarra', 'País Vasco', 'Todas'], dtype=object)

In [61]:
power_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1840 entries, 0 to 1839
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   comunidad_autonoma  1840 non-null   object
 1   type                1840 non-null   object
 2   month               1840 non-null   object
 3   value               1840 non-null   float64
dtypes: float64(1), object(3)
memory usage: 57.6+ KB

In [62]:
#We trasnform it the same way we have done for training data:
power_inst_new = powerinstalled_CCAA_process(power_new)

In [63]:
#In ordert to have the different technologies as columns:

power_inst_new = pivot_table_generation_by_ccaa(power_inst_new)

In [64]:
#And we are using now only the latest month info:
def power_installed_last_month(powerinstalled_file):
    lastmonth = powerinstalled_file['fecha'].max()
    power_file = powerinstalled_file[powerinstalled_file['fecha'] == lastmonth]
    power_file = power_file.rename(columns= {'Eólica': 'inst_Eólica',
                                                       'Hidráulica': 'inst_Hidráulica',
                                                       'Solar fotovoltaica': 'inst_Solar fotovoltaica',
                                                       'Solar térmica': 'inst_Solar_térmica'
                                                       })

    return power_file

In [65]:
power_inst_new = power_installed_last_month(power_inst_new)

In [66]:
#Also we have to rename several 'comunidad autonoma' name as we have made for trainign data in order to match it with 'weather' file:
power_inst_new = REE_ccaa_rename(power_inst_new)

In [67]:
power_inst_new.head()

,fecha,comunidad_autonoma,inst_Eólica,inst_Hidráulica,inst_Solar fotovoltaica,inst_Solar_térmica
162,2023-10-01,ANDALUCIA,3639.531,623.288,4729.823,1000.023
163,2023-10-01,ARAGON,5082.004,1333.815,2260.532,0.000
164,2023-10-01,CANTABRIA,35.307,98.912,4.358,0.000
165,2023-10-01,CASTILLA Y LEON,6621.667,4397.562,1552.823,0.000
166,2023-10-01,CASTILLA-LA MANCHA,4876.024,651.388,5518.868,349.400

In [68]:
#We can drop 'fecha' already
power_inst_new = power_inst_new.drop(columns = ['fecha'])

### 4.4 Merge forecast files

As we have made before, we are using a function that was develeoped on the notebook 'EFAT_newData' which basically consists on merging both AEMET weather and MITECO Reservoir data files and also with 'provincias' in order to have the information related to 'comunidad_autonoma'

In [69]:
#It is important to ensure that the naming of the 'comunidad_autonoma' file is the same for the three files
ccaaweather = [item for item in df_prediction_map['comunidad_autonoma'].unique()]
ccaapower = [item for item in power_inst_new['comunidad_autonoma'].unique()]
ccaawater = [item for item in embalses_new_data['comunidad_autonoma'].unique()]
print(ccaaweather)
print(ccaapower)
print(ccaawater)

['ANDALUCIA', 'ARAGON', 'CANARIAS', 'CANTABRIA', 'CASTILLA Y LEON', 'CASTILLA-LA MANCHA', 'CATALUNA', 'CEUTA', 'COMUNIDAD DE MADRID', 'COMUNIDAD FORAL DE NAVARRA', 'COMUNITAT VALENCIANA', 'EXTREMADURA', 'GALICIA', 'ILLES BALEARS', 'LA RIOJA', 'MELILLA', 'PAIS VASCO', 'PRINCIPADO DE ASTURIAS', 'REGION DE MURCIA']
['ANDALUCIA', 'ARAGON', 'CANTABRIA', 'CASTILLA Y LEON', 'CASTILLA-LA MANCHA', 'CATALUNA', 'COMUNIDAD DE MADRID', 'COMUNIDAD FORAL DE NAVARRA', 'MELILLA', 'COMUNITAT VALENCIANA', 'EXTREMADURA', 'GALICIA', 'ILLES BALEARS', 'CANARIAS', 'LA RIOJA', 'PAIS VASCO', 'PRINCIPADO DE ASTURIAS', 'REGION DE MURCIA']
['ANDALUCIA', 'ARAGON', 'CANTABRIA', 'CASTILLA Y LEON', 'CASTILLA-LA MANCHA', 'CATALUNA', 'COMUNIDAD FORAL DE NAVARRA', 'COMUNITAT VALENCIANA', 'EXTREMADURA', 'GALICIA', 'PAIS VASCO', 'PRINCIPADO DE ASTURIAS']

In [70]:
def all_predictions (predictions_file, embalses_file, power_installed_file): #To finally have the file ready to work with it:
    
    predictions_total = pd.merge(predictions_file, embalses_file, how = 'left', on = 'comunidad_autonoma')

    #Now we cross it with codprovincias file:

    predictions_total = pd.merge(predictions_total, power_installed_file, how = 'left', on= 'comunidad_autonoma')

    #Let's transform 'fecha' into datetime:

    predictions_total['fecha'] = pd.to_datetime(predictions_total['fecha'])

    #Replacing NAs for water info:
    predictions_total['AGUA_TOTAL'] = predictions_total['AGUA_TOTAL'].fillna(0)
    predictions_total['AGUA_ACTUAL'] = predictions_total['AGUA_ACTUAL'].fillna(0)

    #We are including also the column 'weekday' which will help us when estimating demand:

    predictions_total['Weekday'] = predictions_total['fecha'].dt.day_name().apply(lambda x:1 if x in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'] else 0)

    return predictions_total

In [71]:
df_predictions_total = all_predictions(df_prediction_map, embalses_new_data,power_inst_new)

In [72]:
df_predictions_total.head()

,fecha,comunidad_autonoma,tmed,tmin,tmax,velmedia,racha,sol,AGUA_TOTAL,AGUA_ACTUAL,inst_Eólica,inst_Hidráulica,inst_Solar fotovoltaica,inst_Solar_térmica,Weekday
0,2023-10-01,ANDALUCIA,25.583,18.250,32.917,6.458,40.000,4.500,65.000,33.000,3639.531,623.288,4729.823,1000.023,0
1,2023-10-01,ARAGON,24.500,15.556,33.444,4.524,NaN,3.667,2392.000,1169.000,5082.004,1333.815,2260.532,0.000,0
2,2023-10-01,CANARIAS,26.333,22.000,30.667,7.738,35.000,4.000,0.000,0.000,651.630,1.520,225.800,0.000,0
3,2023-10-01,CANTABRIA,22.000,17.333,26.667,4.048,NaN,4.333,12.000,8.000,35.307,98.912,4.358,0.000,0
4,2023-10-01,CASTILLA Y LEON,22.296,12.259,32.333,4.497,NaN,4.815,5083.000,3292.000,6621.667,4397.562,1552.823,0.000,0

In [73]:
df_predictions_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133 entries, 0 to 132
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   fecha                    133 non-null    datetime64[ns]
 1   comunidad_autonoma       133 non-null    object
 2   tmed                     133 non-null    float64
 3   tmin                     133 non-null    float64
 4   tmax                     133 non-null    float64
 5   velmedia                 133 non-null    float64
 6   racha                    28 non-null     float64
 7   sol                      133 non-null    float64
 8   AGUA_TOTAL               133 non-null    float64
 9   AGUA_ACTUAL              133 non-null    float64
 10  inst_Eólica              126 non-null    float64
 11  inst_Hidráulica          126 non-null    float64
 12  inst_Solar fotovoltaica  126 non-null    float64
 13  inst_Solar_térmica       126 non-null    float64
 14  Weekday                  133 non-null    int64
dtypes: datetime64[ns](1), float64(12), int64(1), object(1)
memory usage: 15.7+ KB

We are going to need to handle 'NA' values for several columns. It makes sense to use '0' for 'powerinstalled' columns as no all 'comunidades autonomas' have installation of all technologies. It's similar to the approach we have to use for 'AGUA_ACTUAL' & 'AGUA_TOTAL' variables as not all ccaa have production as we have made for the training data. However, for 'sol' and 'racha' the approach should be different: all 'ccaa' are affected by the sun and by the wind. Therefore we will use the mean for those cases.

In [74]:
def fill_na_predictions (predictions_file):

    predictions_file.fillna({
        'AGUA_TOTAL': 0,
        'AGUA_ACTUAL':0,
        'inst_Eólica':0,
        'inst_Hidráulica':0,
        'inst_Solar fotovoltaica':0,
        'inst_Solar_térmica':0,
    }, inplace = True )
    predictions_file['racha'].fillna(predictions_file['racha'].mean(), inplace=True)
    predictions_file['sol'].fillna(predictions_file['sol'].mean(), inplace=True)
    
    return predictions_file

In [75]:
df_predictions_total = fill_na_predictions(df_predictions_total)
df_predictions_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133 entries, 0 to 132
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   fecha                    133 non-null    datetime64[ns]
 1   comunidad_autonoma       133 non-null    object
 2   tmed                     133 non-null    float64
 3   tmin                     133 non-null    float64
 4   tmax                     133 non-null    float64
 5   velmedia                 133 non-null    float64
 6   racha                    133 non-null    float64
 7   sol                      133 non-null    float64
 8   AGUA_TOTAL               133 non-null    float64
 9   AGUA_ACTUAL              133 non-null    float64
 10  inst_Eólica              133 non-null    float64
 11  inst_Hidráulica          133 non-null    float64
 12  inst_Solar fotovoltaica  133 non-null    float64
 13  inst_Solar_térmica       133 non-null    float64
 14  Weekday                  133 non-null    int64
dtypes: datetime64[ns](1), float64(12), int64(1), object(1)
memory usage: 15.7+ KB

In [76]:
df_predictions_total.sort_values(by='inst_Solar fotovoltaica').head(10)

,fecha,comunidad_autonoma,tmed,tmin,tmax,velmedia,racha,sol,AGUA_TOTAL,AGUA_ACTUAL,inst_Eólica,inst_Hidráulica,inst_Solar fotovoltaica,inst_Solar_térmica,Weekday
45,2023-10-03,CEUTA,23.500,21.000,26.000,20.000,40.438,2.000,0.000,0.000,0.000,0.000,0.000,0.000,1
26,2023-10-02,CEUTA,23.500,22.000,25.000,15.000,40.438,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1
64,2023-10-04,CEUTA,23.500,21.000,26.000,25.000,45.000,2.000,0.000,0.000,0.000,0.000,0.000,0.000,1
121,2023-10-07,CEUTA,23.000,21.000,25.000,15.000,40.438,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0
83,2023-10-05,CEUTA,24.000,22.000,26.000,25.000,40.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000,1
7,2023-10-01,CEUTA,23.000,21.000,25.000,12.143,40.438,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0
102,2023-10-06,CEUTA,24.000,22.000,26.000,20.000,40.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000,1
15,2023-10-01,MELILLA,24.000,21.000,27.000,9.286,40.438,4.000,0.000,0.000,0.000,0.000,0.060,0.000,0
129,2023-10-07,MELILLA,24.000,21.000,27.000,10.000,40.438,2.000,0.000,0.000,0.000,0.000,0.060,0.000,0
72,2023-10-04,MELILLA,23.500,21.000,26.000,15.000,40.438,1.000,0.000,0.000,0.000,0.000,0.060,0.000,1

In [77]:
com_autonoma__view = df_predictions_total.groupby('comunidad_autonoma').mean()
com_autonoma__view

,fecha,tmed,tmin,tmax,velmedia,racha,sol,AGUA_TOTAL,AGUA_ACTUAL,inst_Eólica,inst_Hidráulica,inst_Solar fotovoltaica,inst_Solar_térmica,Weekday
comunidad_autonoma,,,,,,,,,,,,,,
ANDALUCIA,2023-10-04,25.262,18.422,32.101,9.188,42.730,4.030,65.000,33.000,3639.531,623.288,4729.823,1000.023,0.714
ARAGON,2023-10-04,23.056,15.143,30.968,6.697,40.438,3.619,2392.000,1169.000,5082.004,1333.815,2260.532,0.000,0.714
CANARIAS,2023-10-04,26.786,22.548,31.024,12.602,38.679,3.595,0.000,0.000,651.630,1.520,225.800,0.000,0.714
CANTABRIA,2023-10-04,21.262,16.762,25.762,8.923,39.361,3.619,12.000,8.000,35.307,98.912,4.358,0.000,0.714
CASTILLA Y LEON,2023-10-04,21.672,12.714,30.629,6.989,41.858,4.312,5083.000,3292.000,6621.667,4397.562,1552.823,0.000,0.714
CASTILLA-LA MANCHA,2023-10-04,23.391,14.771,32.010,6.558,40.438,4.000,201.000,158.000,4876.024,651.388,5518.868,349.400,0.714
CATALUNA,2023-10-04,23.536,18.167,28.905,9.277,38.346,3.321,492.000,371.000,1379.150,1922.217,299.352,24.290,0.714
CEUTA,2023-10-04,23.500,21.429,25.571,18.878,40.965,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.714
COMUNIDAD DE MADRID,2023-10-04,22.405,14.286,30.524,3.436,40.438,4.095,0.000,0.000,0.000,108.517,63.363,0.000,0.714
COMUNIDAD FORAL DE NAVARRA,2023-10-04,22.381,14.809,29.952,8.878,41.090,3.524,28.000,24.000,1360.912,237.711,167.202,0.000,0.714
COMUNITAT VALENCIANA,2023-10-04,23.810,18.889,28.730,10.181,40.438,3.936,138.000,123.000,1243.030,641.894,426.723,49.900,0.714
EXTREMADURA,2023-10-04,26.250,17.452,35.047,6.100,40.438,4.643,5067.000,3758.000,39.375,2277.362,5570.471,849.000,0.714
GALICIA,2023-10-04,21.803,15.119,28.488,7.304,41.024,3.528,2919.000,2301.000,3887.300,3732.496,18.232,0.000,0.714
ILLES BALEARS,2023-10-04,23.071,17.214,28.929,7.483,40.438,4.071,0.000,0.000,3.568,0.000,252.243,0.000,0.714
LA RIOJA,2023-10-04,22.381,14.524,30.238,8.549,40.438,3.524,0.000,0.000,448.120,52.426,99.734,0.000,0.714
MELILLA,2023-10-04,24.357,21.571,27.143,12.279,40.438,2.286,0.000,0.000,0.000,0.000,0.060,0.000,0.714
PAIS VASCO,2023-10-04,22.024,15.381,28.667,8.156,39.662,3.270,310.000,234.000,159.814,177.657,51.580,0.000,0.714
PRINCIPADO DE ASTURIAS,2023-10-04,20.809,15.476,26.143,8.696,40.670,2.833,410.000,320.000,698.075,804.977,1.005,0.000,0.714
REGION DE MURCIA,2023-10-04,24.286,17.381,31.190,9.751,40.438,4.048,0.000,0.000,262.770,35.478,1416.161,31.400,0.714

We have alreadya  df with all the values we need to calculate the generation estimadted per technology. To do so, we are splitting the daframe in subdfs as we made for the training data:

For this we are bringing back the dataframe with historical data as we only want the information of the 'comunidades auntomas' that we have trained for each target variable

In [117]:
#Let's filter the data:

def filter_predictions_df(predictions_dataframe):

    ccaa_solartermica = ['ANDALUCIA', 'CASTILLA-LA MANCHA', 'CATALUNA', 'COMUNITAT VALENCIANA','EXTREMADURA','REGION DE MURCIA']
    ccaa_solarfotovoltaica = ['ANDALUCIA', 'ARAGON', 'CANARIAS' ,'CASTILLA Y LEON', 'CASTILLA-LA MANCHA',
                              'CATALUNA', 'COMUNIDAD DE MADRID', 'COMUNIDAD FORAL DE NAVARRA',
                              'COMUNITAT VALENCIANA', 'EXTREMADURA' ,'GALICIA', 'ILLES BALEARS', 'LA RIOJA',
                              'PAIS VASCO', 'REGION DE MURCIA']
    ccaa_hidraulica = ['ANDALUCIA', 'ARAGON' ,'CANARIAS' ,'CANTABRIA', 'CASTILLA Y LEON',
                       'CASTILLA-LA MANCHA', 'CATALUNA', 'COMUNIDAD FORAL DE NAVARRA',
                       'COMUNITAT VALENCIANA' ,'GALICIA','LA RIOJA', 'PAIS VASCO',
                       'PRINCIPADO DE ASTURIAS' ,'REGION DE MURCIA', 'EXTREMADURA']
    ccaa_eolica = ['ANDALUCIA' ,'ARAGON' ,'CANTABRIA' ,'CASTILLA Y LEON' ,'CASTILLA-LA MANCHA',
                   'CATALUNA', 'COMUNIDAD DE MADRID', 'COMUNIDAD FORAL DE NAVARRA',
                   'COMUNITAT VALENCIANA' ,'EXTREMADURA' ,'GALICIA', 'LA RIOJA', 'PAIS VASCO',
                   'PRINCIPADO DE ASTURIAS', 'REGION DE MURCIA']

    #Based on the information provided by the Pndas Profile and the other notebooks, we can drop alredy some variables that we know are not relevant for each technology:
    
    pred_solartermica = predictions_dataframe[predictions_dataframe['comunidad_autonoma'].isin(ccaa_solartermica)]
    pred_solartermica = pred_solartermica[['fecha', 'comunidad_autonoma','tmed','tmax','velmedia','sol', 'inst_Solar_térmica']] \
        .rename(columns = {'Solar térmica':'generation'})
    pred_solarfotovoltaica = predictions_dataframe[predictions_dataframe['comunidad_autonoma'].isin(ccaa_solarfotovoltaica)]
    pred_solarfotovoltaica = pred_solarfotovoltaica[['fecha', 'comunidad_autonoma','tmed','tmax','velmedia','sol', 'inst_Solar fotovoltaica']] \
        .rename(columns = {'Solar fotovoltaica':'generation'})
    pred_hidraulica = predictions_dataframe[predictions_dataframe['comunidad_autonoma'].isin(ccaa_hidraulica)]
    pred_hidraulica = pred_hidraulica[['fecha','comunidad_autonoma','tmed','AGUA_ACTUAL','AGUA_TOTAL', 'inst_Hidráulica']] \
        .rename(columns = {'Hidráulica':'generation'})
    pred_eolica = predictions_dataframe[predictions_dataframe['comunidad_autonoma'].isin(ccaa_eolica)]
    pred_eolica = pred_eolica[['fecha', 'comunidad_autonoma','tmed', 'velmedia', 'racha', 'inst_Eólica']] \
        .rename(columns = {'Eólica':'generation'})
    pred_demand = predictions_dataframe[['fecha', 'comunidad_autonoma', 'tmed', 'sol', 'Weekday',]]

    #We take the opportunity to do already here the OneHotEncoder:

    pred_solartermica = onehotencoder_ccaa(pred_solartermica)
    pred_solarfotovoltaica = onehotencoder_ccaa(pred_solarfotovoltaica)
    pred_hidraulica = onehotencoder_ccaa(pred_hidraulica)
    pred_eolica = onehotencoder_ccaa(pred_eolica)
    pred_demand = onehotencoder_ccaa(pred_demand)
    #The only CCAA we don't analize:
    pred_demand.drop(columns = 'comunidad_autonoma_CEUTA', inplace =True)
    return pred_solartermica, pred_solarfotovoltaica, pred_hidraulica, pred_eolica, pred_demand

In [118]:
pred_solartermica, pred_solarfotovoltaica, pred_hidraulica, pred_eolica, pred_demand = filter_predictions_df(df_predictions_total)

### 5. Get the predictions

Once we have readys the different dataframes for each category, it is time to apply the models we have trained before to get the estimnattion of the energetic production. \
As we have seen, 'Knn' model has worked well in terms of R2 for all the variables, with a minimun difference when using StandardScaler or MinMaxScaler. Therefore, we are using 'KNN' model and 'Standard Scaler' for all the technologies.

In [80]:
def drive_read_joblibmodel(url): #In order to download the trained models

    # Generate the Google Drive download URL
    download_url = 'https://drive.google.com/uc?id=' + url.split('/')[-2]

    for retry in range(3):
        try:

            # Download the file using gdown
            file_path = gdown.download(download_url, quiet=False)

            if file_path is not None:
            
                # Read the file directly into a pandas DataFrame
                model = load(file_path)
                
                # Delete the downloaded file
                os.remove(file_path)

                return model
            
            else:
                print("Download failed. Trying again...")
                time.sleep(5.0)  # Wait for another retry

        except Exception as e:
            print(f"Error {e}. Trying again...")
            time.sleep(5.0)  # Wait for another retry

    print("Unable to download and read the file. Please try again later.")
    return None

In [84]:
url_solarfoto = "https://drive.google.com/file/d/1TE8Cu3JlCxrAjPFcoYozHkNxG5PwRqkc/view?usp=drive_link"
model_solarfoto = drive_read_joblibmodel(url_solarfoto)

url_solarterm = "https://drive.google.com/file/d/18lDGDaqJ0xWkvFMWjxEa2Y4FurCW2Ukn/view?usp=drive_link"
model_solarterm = drive_read_joblibmodel(url_solarterm)

url_eolic = "https://drive.google.com/file/d/1Sp4Sl9vZ0p1j7yIvgxl1JxZC_dF3wVIb/view?usp=drive_link"
model_eolic = drive_read_joblibmodel(url_eolic)


url_hidro = "https://drive.google.com/file/d/12NXRR5DcgxgCh2kQaV0AWWSpYOH76oJi/view?usp=drive_link"
model_hidro = drive_read_joblibmodel(url_hidro)

url_demand = "https://drive.google.com/file/d/1krPoisaeSqx8nCXFqyoqeN8F4XkJh4nd/view?usp=drive_link"
model_demand = drive_read_joblibmodel(url_demand)

Downloading...
From: https://drive.google.com/uc?id=1TE8Cu3JlCxrAjPFcoYozHkNxG5PwRqkc
To: /home/dsc/data/TFM_EFAT/TFM_EFAT/solar_foto_models_KNeighborsRegressor_MinMaxScaler.joblib
100%|██████████| 6.14M/6.14M [00:00<00:00, 7.54MB/s]
Downloading...
From: https://drive.google.com/uc?id=18lDGDaqJ0xWkvFMWjxEa2Y4FurCW2Ukn
To: /home/dsc/data/TFM_EFAT/TFM_EFAT/solar_term_models_KNeighborsRegressor_MinMaxScaler.joblib
100%|██████████| 2.96M/2.96M [00:00<00:00, 5.26MB/s]
Downloading...
From: https://drive.google.com/uc?id=1Sp4Sl9vZ0p1j7yIvgxl1JxZC_dF3wVIb
To: /home/dsc/data/TFM_EFAT/TFM_EFAT/eolic_models_KNeighborsRegressor_MinMaxScaler.joblib
100%|██████████| 5.96M/5.96M [00:00<00:00, 6.97MB/s]
Downloading...
From: https://drive.google.com/uc?id=12NXRR5DcgxgCh2kQaV0AWWSpYOH76oJi
To: /home/dsc/data/TFM_EFAT/TFM_EFAT/hidro_models_KNeighborsRegressor_MinMaxScaler.joblib
100%|██████████| 5.96M/5.96M [00:00<00:00, 6.68MB/s]
Downloading...
From: https://drive.google.com/uc?id=1krPoisaeSqx8nCXFqyoqeN8F4XkJh4nd
To: /home/dsc/data/TFM_EFAT/TFM_EFAT/demand_models_KNeighborsRegressor_MinMaxScaler.joblib
100%|██████████| 7.68M/7.68M [00:00<00:00, 8.37MB/s]

#### 5.1 Solar fotovoltaica

In [85]:
pred_solarfotovoltaica.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 21 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   fecha                                          105 non-null    datetime64[ns]
 1   tmed                                           105 non-null    float64
 2   tmax                                           105 non-null    float64
 3   velmedia                                       105 non-null    float64
 4   sol                                            105 non-null    float64
 5   inst_Solar fotovoltaica                        105 non-null    float64
 6   comunidad_autonoma_ANDALUCIA                   105 non-null    float64
 7   comunidad_autonoma_ARAGON                      105 non-null    float64
 8   comunidad_autonoma_CANARIAS                    105 non-null    float64
 9   comunidad_autonoma_CASTILLA Y LEON             105 non-null    float64
 10  comunidad_autonoma_CASTILLA-LA MANCHA          105 non-null    float64
 11  comunidad_autonoma_CATALUNA                    105 non-null    float64
 12  comunidad_autonoma_COMUNIDAD DE MADRID         105 non-null    float64
 13  comunidad_autonoma_COMUNIDAD FORAL DE NAVARRA  105 non-null    float64
 14  comunidad_autonoma_COMUNITAT VALENCIANA        105 non-null    float64
 15  comunidad_autonoma_EXTREMADURA                 105 non-null    float64
 16  comunidad_autonoma_GALICIA                     105 non-null    float64
 17  comunidad_autonoma_ILLES BALEARS               105 non-null    float64
 18  comunidad_autonoma_LA RIOJA                    105 non-null    float64
 19  comunidad_autonoma_PAIS VASCO                  105 non-null    float64
 20  comunidad_autonoma_REGION DE MURCIA            105 non-null    float64
dtypes: datetime64[ns](1), float64(20)
memory usage: 17.4 KB

In [86]:
pred_solarfotovoltaica.head()

,fecha,tmed,tmax,velmedia,sol,inst_Solar fotovoltaica,comunidad_autonoma_ANDALUCIA,comunidad_autonoma_ARAGON,comunidad_autonoma_CANARIAS,comunidad_autonoma_CASTILLA Y LEON,...,comunidad_autonoma_CATALUNA,comunidad_autonoma_COMUNIDAD DE MADRID,comunidad_autonoma_COMUNIDAD FORAL DE NAVARRA,comunidad_autonoma_COMUNITAT VALENCIANA,comunidad_autonoma_EXTREMADURA,comunidad_autonoma_GALICIA,comunidad_autonoma_ILLES BALEARS,comunidad_autonoma_LA RIOJA,comunidad_autonoma_PAIS VASCO,comunidad_autonoma_REGION DE MURCIA
0,2023-10-01,25.583,32.917,6.458,4.500,4729.823,1.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1,2023-10-01,24.500,33.444,4.524,3.667,2260.532,0.000,1.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2,2023-10-01,26.333,30.667,7.738,4.000,225.800,0.000,0.000,1.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
3,2023-10-01,22.296,32.333,4.497,4.815,1552.823,0.000,0.000,0.000,1.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
4,2023-10-01,24.133,33.200,6.143,4.600,5518.868,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000

In [95]:
def standarization_minmax_scaler (dataframe):

    dataframe_st = dataframe.copy()
    scaler = MinMaxScaler()
    #It allows to scale data to range (0,1)
    #We don't want to apply standarization to target value or categorical features as it may have an impact on the result:

    cols_to_standarize = [col for col in dataframe_st.columns if dataframe_st[col].dtype in ['int64', 'float64'] \
                        and col != ['generation','demand_ccaa'] \
                        and not col.startswith('comunidad')]

    for col in cols_to_standarize:
        dataframe_st[col] = scaler.fit_transform(dataframe_st[[col]])
    
    return dataframe_st

In [96]:
def standarization_standard_scaler (dataframe):

    dataframe_st = dataframe.copy()
    scaler = StandardScaler()
    #In order to standarize values of the dataframes and get better results in the model by removing the mean and scaling to unit variance.
    #We don't want to apply standarization to target value or categorical features as it may have an impact on the result:

    cols_to_standarize = [col for col in dataframe_st.columns if dataframe_st[col].dtype in ['int64', 'float64'] \
                          and col != ['generation','demand_ccaa', 'fecha'] \
                            and not col.startswith('comunidad')]

    for col in cols_to_standarize:
        dataframe_st[col] = scaler.fit_transform(dataframe_st[[col]])
    
    return dataframe_st

In [97]:
#We have to scale values to have it the same way as we had trained model:
pred_solarfotovoltaica = standarization_minmax_scaler(pred_solarfotovoltaica)

In [98]:
#Applying the best model for this technology:
def apply_model (df_prediction, model):
    dates= df_prediction['fecha']
    df_prediction = df_prediction.drop(columns = 'fecha')
    df_prediction['prediction'] = model.predict(df_prediction)
    df_prediction['fecha'] = dates

    return df_prediction

In [99]:
sf_predictions = apply_model(pred_solarfotovoltaica, model_solarfoto)

In [100]:
sf_predictions.head()

,tmed,tmax,velmedia,sol,inst_Solar fotovoltaica,comunidad_autonoma_ANDALUCIA,comunidad_autonoma_ARAGON,comunidad_autonoma_CANARIAS,comunidad_autonoma_CASTILLA Y LEON,comunidad_autonoma_CASTILLA-LA MANCHA,...,comunidad_autonoma_COMUNIDAD FORAL DE NAVARRA,comunidad_autonoma_COMUNITAT VALENCIANA,comunidad_autonoma_EXTREMADURA,comunidad_autonoma_GALICIA,comunidad_autonoma_ILLES BALEARS,comunidad_autonoma_LA RIOJA,comunidad_autonoma_PAIS VASCO,comunidad_autonoma_REGION DE MURCIA,prediction,fecha
0,0.758,0.767,0.332,0.893,0.849,1.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,19940.392,2023-10-01
1,0.626,0.809,0.233,0.714,0.404,0.000,1.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,10642.016,2023-10-01
2,0.848,0.587,0.398,0.786,0.037,0.000,0.000,1.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,840.880,2023-10-01
3,0.359,0.720,0.231,0.960,0.276,0.000,0.000,0.000,1.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,7372.446,2023-10-01
4,0.582,0.789,0.316,0.914,0.991,0.000,0.000,0.000,0.000,1.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,22133.322,2023-10-01

#### 5.2 Solar térmica

In [108]:
#We have to scale values to have it the same way as we had trained model:
pred_termica = standarization_minmax_scaler(pred_solartermica)

In [109]:
term_predictions = apply_model(pred_termica, model_solarterm)

#### 5.3 HIdráulica

In [110]:
#We have to scale values to have it the same way as we had trained model:
pred_hidraulica = standarization_minmax_scaler(pred_hidraulica)

In [111]:
hidro_predictions = apply_model(pred_hidraulica, model_hidro)

#### 5.4 Eollica

In [112]:
#We have to scale values to have it the same way as we had trained model:
pred_eolica = standarization_minmax_scaler(pred_eolica)

In [113]:
eolica_predictions = apply_model(pred_eolica, model_eolic)

#### 5.5 Demand

In [114]:
#We have to scale values to have it the same way as we had trained model:
pred_demand = standarization_minmax_scaler(pred_demand)

In [115]:
pred_demand.head()

,fecha,tmed,sol,Weekday,comunidad_autonoma_ANDALUCIA,comunidad_autonoma_ARAGON,comunidad_autonoma_CANARIAS,comunidad_autonoma_CANTABRIA,comunidad_autonoma_CASTILLA Y LEON,comunidad_autonoma_CASTILLA-LA MANCHA,...,comunidad_autonoma_COMUNIDAD FORAL DE NAVARRA,comunidad_autonoma_COMUNITAT VALENCIANA,comunidad_autonoma_EXTREMADURA,comunidad_autonoma_GALICIA,comunidad_autonoma_ILLES BALEARS,comunidad_autonoma_LA RIOJA,comunidad_autonoma_MELILLA,comunidad_autonoma_PAIS VASCO,comunidad_autonoma_PRINCIPADO DE ASTURIAS,comunidad_autonoma_REGION DE MURCIA
0,2023-10-01,0.771,0.900,0.000,1.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1,2023-10-01,0.648,0.733,0.000,0.000,1.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2,2023-10-01,0.857,0.800,0.000,0.000,0.000,1.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
3,2023-10-01,0.362,0.867,0.000,0.000,0.000,0.000,1.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
4,2023-10-01,0.396,0.963,0.000,0.000,0.000,0.000,0.000,1.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000

In [119]:
demand_predictions = apply_model(pred_demand, model_demand)